<ion-modal-view title="ElijoEstudiar | Centro" class="details_modal">
  <div class="rombo_amarillo_chico"></div>
  <div class="back_arrow clickable" ng-click="close_modal()"></div>
  <div class="add_to_fav_icon_detail clickable" ng-click="add_to_fav('{{establecimiento.id}}')">Agregar a favoritos</div>
  <div id="modal_map_container" class="modal_map_container" >
      <leaflet id="secondary_map" data-tap-disabled="true" defaults="modal_map.defaults" center="modal_map.center" markers="modal_map.markers" ng-if="modal_map"></leaflet>
  </div>
  <div class="form full">
    <div class="main-details">
      <div class="photo-wrapper">
        <img src="{{establecimiento.imagenes.src}}" class="detail_photo"/>
      </div>
      <div class="detail_depto">{{establecimiento.departamento}}</div>
      <div class="detail_title">{{establecimiento.title}}</div>
      <div class="detail_address detail_data">{{establecimiento.direccion}}, </div>
      <div class="detail_phone detail_data">{{establecimiento.telefono}}</div>
      <div class="detail_web detail_data clickable" ng-click="openWebsite('{{establecimiento.web}}')">Sitio Web</div>
      <!--<div class="detail_text">{{establecimiento.descripcion}}</div>-->
    </div>
    <div class="detail_text detail_data">
      {{establecimiento.descripcion}}
    </div>
    <ion-list>

      <ion-item class="list-header" ng-click="toggleGroup('oferta')" ng-class="{active: isGroupShown('oferta')}">
        <div class="section-main">Oferta</div>
        <div class="icon arrow-icon" ng-class="isGroupShown('oferta') ? 'arrow-up' : 'arrow-down'"></div>
      </ion-item>
      <ion-item class="item-accordion" ng-show="isGroupShown('oferta')">
        <ion-checkbox>Urbano</ion-checkbox>
        <ion-checkbox>Rural</ion-checkbox>
      </ion-item>

      <ion-item class="list-header" ng-click="toggleGroup('info')" ng-class="{active: isGroupShown('info')}">
        <div class="section-main">Información general</div>
        <div class="icon arrow-icon" ng-class="isGroupShown('info') ? 'arrow-up' : 'arrow-down'"></div>
      </ion-item>
      <ion-item class="item-accordion" ng-show="isGroupShown('info')">
        <div class="info">Comparte local con otros centros</div>
        <ion-checkbox>2011</ion-checkbox>
      </ion-item>

      <ion-item class="list-header" ng-click="toggleGroup('datos')" ng-class="{active: isGroupShown('datos')}">
        <div class="section-main">Información</div>
        <div class="icon arrow-icon" ng-class="isGroupShown('datos') ? 'arrow-up' : 'arrow-down'"></div>
      </ion-item>
      <ion-item class="item-accordion" ng-show="isGroupShown('datos')">
        <ion-checkbox>Urbano</ion-checkbox>
        <ion-checkbox>Rural</ion-checkbox>
      </ion-item>

      <ion-item class="list-header" ng-click="toggleGroup('otros')" ng-class="{active: isGroupShown('otros')}">
        <div class="section-main">Otra info</div>
        <div class="icon arrow-icon" ng-class="isGroupShown('otros') ? 'arrow-up' : 'arrow-down'"></div>
      </ion-item>
      <ion-item class="item-accordion" ng-show="isGroupShown('otros')">
        <ion-checkbox>Urbano</ion-checkbox>
        <ion-checkbox>Rural</ion-checkbox>
      </ion-item>
    </ion-list>
  </div>

</ion-modal-view>
