<ion-view title="ElijoEstudiar" hide-nav-bar="false" class="">
  <ion-content scroll="false">
	  <ion-slide-box on-slide-changed="slideHasChanged($index)">
	    <ion-slide>
        <div class="rombo_amarillo"></div>
        <div class="rombo_azul"></div>
        <div class="form">
          <div class="title section">Tu edad</div>
          <div class="edad_controls">
            <div ng-click="restarEdad();" class="edad edad_menos">-</div>
            <input type="text" class="edad_text" ng-model="form.edad" maxlength="2"/>
            <div ng-click="sumarEdad();" class="edad edad_mas">+</div>
          </div>
          <div id="queEstudieWrapper">
            <div class="title">¿Qué es lo último que cursaste?</div>
            <input type="text" id="queEstudie" class="clickable" ng-model="form.searchqueEstudie" ng-change="onSearchChangeQue('queEstudie')" />
            <div id="queEstudieResults" class="animate-down searchQueResults">
              <ion-scroll id="queEstudieResults_scroll" scrollX="false" scrollY="true">
                <div class='subsistema_container' ng-repeat="subsistema in form.queEstudieResults track by $index">
                  <ion-item class="subsistema_title Accordion__Header" ng-click='toggleGroup(subsistema.subsis)'>
                  <!-- ng-mouseover="shownGroup_glance(subsis)" ng-mouseleave="shownGroup_close(subsis)" -->
                    {{subsistema.subsis}}
                    <span ng-class='isGroupShown("{{subsistema.subsis}}") ? "ion-ios-arrow-down" : "ion-ios-arrow-forward"'></span>
                  </ion-item>
                  <div class='subsistema_curso clickable' ng-click="selectQueEstudiarItem({{curso}},'queEstudie')" ng-repeat="curso in subsistema.cursos" ng-show='isGroupShown("{{subsistema.subsis}}")'>
                    <div class="curso_title_wrapper">
                      <div class="curso_nombre" ng-click="selectQueEstudiarItem({{curso}})">{{curso.nombre}}</div>
                    </div>
                  </div>
                </div>
              </ion-scroll>
              <span class="result-empty" ng-if="!form.queEstudieResults.length">No hay resultados con esas palabras</span>
            </div>
          </div>
          <button class="form_next_button primary_button clickable" ng-click="next()">Continuar</button>
        </div>
	    </ion-slide>
	    <ion-slide>
        <div class="rombo_amarillo_chico"></div>
        <div class="rombo_amarillo_derecha"></div>
        <div class="rombo_azul_chico"></div>
        <div class="form">
          <div id="queEstudiarWrapper" class="section que">
            <div class="title">¿Qué querés estudiar?</div>
            <input type="text" id="queEstudiar" class="clickable" ng-model="form.searchqueEstudiar" ng-change="onSearchChangeQue('queEstudiar')" />
            <div class="button_listado_completo clickable" ng-click="listAllQueEstudiar()">Ver listado completo</div>
            <div id="queEstudiarResults" class="animate-down searchQueResults">
              <ion-scroll id="queEstudiarResults_scroll" scrollX="false" scrollY="true">
                <div class='subsistema_container' ng-repeat="subsistema in form.queEstudiarResults track by $index">
                  <ion-item class="subsistema_title Accordion__Header" ng-click='toggleGroup("{{subsistema.subsis}}")'>
                    {{subsistema.subsis}}
                    <span ng-class='isGroupShown("{{subsistema.subsis}}") ? "ion-ios-arrow-down" : "ion-ios-arrow-forward"'></span>
                  </ion-item>
                  <div class='subsistema_curso clickable' ng-click="selectQueEstudiarItem({{curso}}, 'queEstudiar')" ng-repeat="curso in subsistema.cursos" ng-show='isGroupShown("{{subsistema.subsis}}")'>
                    <div class="curso_title_wrapper">
                      <div class="curso_nombre" ng-click="selectQueEstudiarItem({{curso}}, 'queEstudiar')">{{curso.nombre}}</div>
                      <button class="form_next_button primary_button info" ng-click="openWebsite({{curso.url}}); $event.stopPropagation();">+info</button>
                    </div>
                      <div class="curso_tag_wrapper">
                        <button class='curso_tag tag-{{tag.tipo}}' ng-click="openWebsite({{tag.url}}); $event.stopPropagation();" ng-repeat="tag in curso.tag">
                          {{tag.nombre}}
                        </button>
                      </div>
                  </div>
                </div>
              </ion-scroll>
              <span class="result-empty" ng-if="!form.queEstudiarResults.length">No hay resultados con esas palabras</span>
            </div>
          </div>
      		<div class="section donde">
            <div class="title">¿Cerca de dónde?</div>
            <input id="donde_estudiar" type="text" class="donde estudiar_input clickable" ng-model="form.searchDonde" ng-change="onSearchChangeDonde()" />
            <div class="show-map clickable" ng-click="openModal('modal-map', 'ubicacion')"></div>
            <div id="SearchDondeResults">
              <ion-scroll id="searchDondeResults_scroll" scrollX="false" scrollY="true">
                <div class='donde_container clickable' ng-repeat="donde in form.SearchDondeResults">
                  <div class="donde_title" ng-click="selectDondeEstudiarItem({{donde}})">{{donde.nombre}}</div>
                </div>
              </ion-scroll>
              <span class="result-empty" ng-if="!form.SearchDondeResults.length">No hay resultados con esas palabras</span>
            </div>
          </div>
          <div class="section turno">
        		<div class="title">Turno</div>
            <div class="turnos-wrapper">
              <div id="matutino" ng-click="select_turno('matutino')" class="turnos turno_matutino selected">Matutino</div>
          		<div id="vespertino" ng-click="select_turno('vespertino')" class="turnos turno_vespertino selected">Vespertino</div>
          		<div id="nocturno" ng-click="select_turno('nocturno')" class="turnos turno_nocturno selected">Nocturno</div>
            </div>
        		<!--<div class="plan estudiar_title">¿Cuál es tu plan?</div>
        		<input type="text" class="cual estudiar_input" />-->
          </div>
          <button class="form_next_button primary_button" ng-click="next()">Continuar</button>
        </div>
	    </ion-slide>
	    <ion-slide>
	    </ion-slide>
	  </ion-slide-box>
    <div id="ubicacion">
      <leaflet data-tap-disabled="true" id="ubicacion_map" defaults="map.defaults" center="map.center" markers="map.markers" ng-if="map"></leaflet>
    </div>
  </ion-content>
</ion-view>
