<ion-view title="ElijoEstudiar" hide-nav-bar="true">
  <ion-content scroll="false">
    <div class="intro_rombo_azul"></div>
    <div class="intro_rombo_amarillo"></div>
    <div class="intro inside_rectangle">
      <img class ="logo" src="img/elijo_estudiar.svg" />
      <!--<h1>-->
      <div id="intro-message">
        <p>¡Hola! 👋 Esta herramienta fue creada para ayudarte a buscar dónde y cómo seguir estudiando.</p>
        <p>Completando tus datos y preferencias, te podemos mostrar información de cursos, centros de estudio cerca de vos, información de los centros, previaturas y más.</p>
      </div>
      <div class="intro_que_buscas">
        ¿Qué estás buscando?
      </div>
      <div class="intro_informacion_sobre">
        información sobre
      </div>
      <button ng-click="go_to_form();" class="intro_informacion_donde clickable">
        Qué/dónde estudiar
      </button>
      <button ng-click="go_to_search();" class="intro_informacion_centro clickable">
        Mi centro de estudio
      </button>
    </div>
  </ion-content>
</ion-view>
