<ion-view title="Intro" hide-nav-bar="true">
  <ion-content scroll="false">
    <div class="intro_rombo_azul"></div>
    <div class="intro_rombo_amarillo"></div>
    <div class="intro_inside_rectangle">
      <div class="intro_que_buscas">
        ¿Qué estás buscando?
      </div>
      <div class="intro_informacion_sobre">
        información sobre
      </div>
      <div ng-click="go_to_form();" class="intro_informacion_donde_button">
        dónde estudiar
      </div>
      <div class="intro_informacion_centro_button">
        mi centro de estudio
      </div>
    </div>
  </ion-content>
</ion-view>
