<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content scroll="true">
    <!--<ion-nav-bar class="bar-stable">
    </ion-nav-bar>-->
    <div id="error">
      <div class="error-content">
        <div id="error-content"></div>
        <div class="error-close clickable" ng-click="errorClose()"></div>
      </div>
    </div>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <div class="navbar">

      <div class="navbar-wrapper">
        <nav class="navbar-items">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#/cursos">Dónde estudiar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#/centros">Centro de estudio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sobre el proyecto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Derechos del estudiante</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Favoritos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Ayuda</a>
            </li>
          </ul>
        </nav>
        <nav class="navbar-items navbar-right">
          <ul class="nav navbar-nav navbar-expand-sm">
            <li class="nav-icon">
              <a href="https://www.facebook.com/" target="_blank">
                <i class="fa fa-facebook fa-stack-1x icon-color"></i>
              </a>
            </li>
            <li class="nav-icon">
              <a href="https://twitter.com/" target="_blank">
                <i class="fa fa-twitter fa-stack-1x icon-color"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="back_arrow clickable" ng-click="go_back()"></div>
    <div id="form_container">
      <ion-nav-view class="main" name="menuContent">
      </ion-nav-view>
    </div>
    <div id="modal-page">
      <div id="modal-page-close" ng-click="modalPageClose()" class="modal-close clickable"></div>
      <div id="modal-page-content" class="inside_rectangle">
        <div id="loading" style="display: none;"><img src="img/loading.gif" alt="Loading"></div>
      </div>
    </div>
    <div id="loading-mini" style="display: none;"><img src="img/small_loading1.gif" alt="Loading"></div>
    <div id="foot_container">
      <div class="footer_share">Compartir</div>
      <div class="footer_share_wrapper">
        <div class="footer_fb clickable"></div>
        <div class="footer_tw clickable"></div>
      </div>
      <div class="footer_credits">UN PROYECTO DE</div>
      <div class="footer_logos_wrapper">
        <div ng-click="openWebsite('https://www.anep.edu.uy')" class="footer_anep clickable"></div>
        <div ng-click="openWebsite('https://datauy.org')" class="footer_data clickable"></div>
      </div>
    </div>
  </ion-side-menu-content>
</ion-side-menus>
