<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content scroll="true">
    <!--<ion-nav-bar class="bar-stable">
    </ion-nav-bar>-->
    <div id="form_container">
      <ion-nav-view name="menuContent"></ion-nav-view>
    </div>
    <div id="map_wrapper" >
      <ion-nav-view name="mapView">
      </ion-nav-view>
    </div>
    <div id="modal-page">
      <div id="modal-page-close" ng-click="modalPageClose()" class="modal-close clickable"></div>
      <div id="modal-page-content"/></div>
    </div>
    <div id="foot_container">
      <div class="footer_share">Compartir</div>
      <div class="footer_share_wrapper">
        <div class="footer_fb clickable"></div>
        <div class="footer_tw clickable"></div>
      </div>
      <div class="footer_credits">UN PROYECTO DE</div>
      <div class="footer_logos_wrapper">
        <div ng-click="openWebsite('https://www.anep.edu.uy')" class="footer_anep clickable"></div>
        <div ng-click="openWebsite('https://datauy.org')" class="footer_data clickable"></div>
      </div>
    </div>
  </ion-side-menu-content>
</ion-side-menus>
