<ion-content scroll="true" overflow-scroll="true">
  <nav>
    <div id="error">
      <div class="error-content">
        <div id="error-content"></div>
        <div class="error-close clickable" ng-click="errorClose()"></div>
      </div>
    </div>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <div class="navbar">
      <div class="navbar-wrapper">
        <nav class="navbar-items navbar-links">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a ui-sref="app.intro" ui-sref-active="active" class="nav-link" ng-click="menu_link_open()">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" ng-click="menu_link_open()" ui-sref="app.cursos" ui-sref-active="active">Qué/Dónde estudiar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" ng-click="menu_link_open()" ui-sref="app.search_centros" ui-sref-active="active">Centros de estudio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" ng-click="menu_link_open()" ui-sref="app.sobre" ui-sref-active="active">Sobre el proyecto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" ng-click="menu_link_open()" href="https://derechosdelestudiante.edu.uy">Derechos del estudiante</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" ng-click="menu_link_open()" ui-sref="app.preguntas" ui-sref-active="active">Preguntas Frecuentes</a>
            </li>
          </ul>
        </nav>
        <nav class="navbar-items navbar-right">
          <ul class="nav navbar-nav navbar-expand-sm">
            <li class="nav-icon">
              <a id="menu-share-fb" class="fb-share" href="" target="_blank">
                <i class="fa fa-facebook footer_fb icon-color"></i>
              </a>
            </li>
            <li class="nav-icon">
              <a id="menu-share-tw" href="" target="_blank">
                <i class="fa fa-twitter footer_tw icon-color"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div id="back_arrow" class="clickable" ng-click="go_back()"></div>
  </nav>
  <div id="form_container">
    <ion-nav-view class="main" name="menuContent">
    </ion-nav-view>
  </div>
  <div id="modal-page">
    <div id="modal-page-close" ng-click="modalPageClose()" class="modal-close clickable"></div>
    <div id="modal-page-content" class="inside_rectangle">
      <div id="loading" style="display: none;"><img src="img/loading.gif" alt="Loading"></div>
    </div>
  </div>
  <div id="loading-mini" style="display: none;"><img src="img/small_loading1.gif" alt="Loading"></div>
  <div id="foot_container">
    <div class="footer_share">Compartir</div>
    <div class="footer_share_wrapper">
      <a id="footer-share-fb" class="fb-share footer_fb clickable"></a>
      <a id="footer-share-tw" class="tw-share footer_tw clickable"></a>
    </div>
    <div class="footer_credits">UN PROYECTO DE</div>
    <div class="footer_logos_wrapper">
      <div ng-click="openWebsite('https://www.anep.edu.uy')" class="footer_anep clickable"></div>
      <div ng-click="openWebsite('https://datauy.org')" class="footer_data clickable"></div>
    </div>
  </div>
</ion-content>
