<ion-view title="ElijoEstudiar | Preguntas Frecuentes" hide-nav-bar="true">
  <ion-content scroll="false">
    <div class="intro_rombo_azul"></div>
    <div class="intro_rombo_amarillo"></div>
    <div class="intro inside_rectangle">
      <img class ="logo" src="img/elijo_estudiar.svg" />
      <h1>Preguntas Frecuentes</h1>
      <div id="intro-message">
        <h3>¿Qué niveles/subsistemas/tipos de cursos puedo encontrar en Elijo Estudiar?</h3>
        <p>En este momento, el sistema incluye información del Consejo de Educación Inicial y Primaria (CEIP), el Consejo de Educación Secundaria (CES), el Consejo de Educación Técnico Profesional (CETP) y el Consejo de Formación en Educación (CFE).</p>
        <p>En términos más informales, de los sistemas públicos de educación Primaria (escuela), Secundaria (liceo), UTU (secundaria, técnica y profesional) y Formación Docente (magisterio, profesorado).</p>
        
<h3>¿Van a agregar información de centros privados?</h3>
        <p>El proyecto no está cerrado a ninguna posibilidad de sumar datos en principio, sin embargo depende de la existencia y sistematización de los mismos. Hoy en día no contamos con esa información.
</p>
        
        <h3>¿Van a agregar información de UDELAR y/o UTEC?</h3>
        <p>La ambición del proyecto es expandirse a otros sistemas y seguir sumando información. Para poder hacerlo, depende de establecer acuerdos con éstos sistemas, la existencia y sistematización de los datos. Deseamos poder hacer ésto en un futuro, pero no podemos asegurarlo, ya que depende de una serie de condiciones que no están bajo nuestra órbita de decisión.
</p>
        
<h3>¿De dónde sale la información?</h3>
        <p>
El detalle de las fuentes de información y el acceso a los datos abiertos utilizados se puede ver en detalle en la sección “<a href="https://elijoestudiar.data.org.uy/#/sobre-el-proyecto">Sobre el proyecto</a>” del sitio. En líneas generales, se trata de información oficial de ANEP, que recolecta de los distintos subsistemas (CEIP, CES, CETP y CFE).
</p>
        
        <h3>¿La información es confiable?</h3>
        <p>Si, es información oficial de ANEP. Pudo haber sufrido cambios desde el momento de su recolección hasta el momento que es consultada que aún no estén reflejados y por eso siempre es recomendable confirmar y consultar ante cualquier duda con los centros educativos sobre los cursos en los que se tenga interés, pero el 100% de la información disponible es de fuentes oficiales.
</p>

        <h3>¿La información está actualizada?</h3>
        <p>Hoy en día contamos con información actualizada anualmente, de la oferta educativa para el año corriente.
</p>
        
        <h3>¿Por qué no encuentro el curso que quiero, si sé que existe?</h3>
        <p>En algún caso particular, puede suceder que un curso sea ofrecido luego de la última actualización de la información, o que existe algún error en la información reportada. Si encontrás algún caso así, por favor hacénoslo saber a través de <a href="mailto:contacto@datauy.org">contacto@datauy.org</a>.
</p>

        <h3>¿Por qué publican esa información de los centros y no otra?</h3>
        <p>La información disponible hoy es aquella a la que tenemos acceso de forma sistematizada, pero seguimos trabajando en sumar otros datos, tanto disponibles, como otros que no lo están, pero queremos ayudar a que lo estén. Nos interesa saber qué información sería útil agregar, podés hacer llegar tus sugerencias a través de <a href="mailto:contacto@datauy.org">contacto@datauy.org</a>.
</p>

        <h3>¿Pueden agregar determinada información/datos?</h3>
        <p>Quizás. Dependemos de que esa información efectivamente exista o sea recolectada, y de que esté disponible para su utilización. Nos interesa saber qué información sería útil agregar, podés hacer llegar tus sugerencias a través de <a href="mailto:contacto@datauy.org">contacto@datauy.org</a>.</p>

        <h3>¿Quién hizo ésto y cómo surgió?</h3>
        <p>El proyecto Elijo Estudiar comienza con la presentación de la idea por parte de <a href="https://www.datauy.org/">DATA Uruguay</a> al llamado del fondo de la <a href="https://altec.lat/">Alianza Latinoamericana para la Tecnología Cívica (ALTEC)</a>, una alianza entre <a href="http://www.avina.net/avina/">Avina</a> y <a href="https://luminategroup.com/">Luminate</a> en 2017. El mismo es seleccionado y comienza el proceso de desarrollo y acompañamiento del proyecto, junto a <a href="https://altec.lat/6-paises-y-11-proyectos-altec2017-impulsan-el-cambio-social-en-america-latina/">otros 10 proyectos de tecnología cívica de América Latina</a>.
</p>
        <p>Localmente, el proyecto genera su primera alianza con <a href="https://www.unicef.org/uruguay/spanish/">UNICEF Uruguay</a>, con quiénes DATA Uruguay ya había colaborado en otro proyecto de educación (ver “Antecedentes”). Se concreta con la autorización de <a href="https://www.anep.edu.uy/codicen">CODICEN</a> para la participación de <a href="https://www.anep.edu.uy/">ANEP</a> y los subsistemas (<a href="http://www.ceip.edu.uy/">CEIP</a>, <a href="https://www.ces.edu.uy/">CES</a>, <a href="https://www.utu.edu.uy/">CETP</a> y <a href="http://www.cfe.edu.uy/">CFE</a>) que proveen los conocimientos, datos y retroalimentación para el diseño e implementación del proyecto.
</p>
        
       <h3>¿Puedo hacer consultas sobre un problema que tengo?</h3>
        <p>Ésta plataforma no tiene ese objetivo, pero si tenés cualquier tipo de duda o situación donde sentís que se vulneran tus derechos como estudiante de Secundaria o UTU, podés buscar información o hacer consultas y denuncias desde <a href="http://derechosdeestudiantes.edu.uy">DerechosDeEstudiantes.edu.uy</a>.
</p>
      </div>
    </div>
  </ion-content>
</ion-view>
