<ion-view title="ElijoEstudiar | Buscar establecimientos" hide-nav-bar="true" class="">
  <ion-content scroll="false">
        <div class="rombo_amarillo_chico"></div>
        <div class="rombo_amarillo_derecha"></div>
        <div class="form">
          <div class="title section">Buscar establecimiento</div>
          <input type="text" id="search_input" class="clickable" ng-model="filters_centros.nombre" ng-change="onSearchChange()" />
          <ion-item class="subsis">
            <div class="title"> Subsistema </div>
            <!-- TODO: Ver porqué el span que se genera no permite saltar de línea -->
            <div class="section-center">
              <ion-toggle ng-model="filters_centros.subsis.Primaria" ng-change="onSearchChange()">
                Inicial y Primaria
              </ion-toggle>
            </div>
            <div class="section-center">
              <ion-toggle ng-model="filters_centros.subsis.Secundaria" ng-change="onSearchChange()">
                Secundaria
              </ion-toggle>
            </div>
            <div class="section-center">
              <ion-toggle ng-model="filters_centros.subsis.UTU" ng-change="onSearchChange()">
                Técnico Profesional
              </ion-toggle>
            </div>
            <div class="section-center">
              <ion-toggle ng-model="filters_centros.subsis['Formación en educación']" ng-change="onSearchChange()">
                Formación en Educación
              </ion-toggle>
            </div>
          </ion-item>
          <div class="listAndMap-wrapper">
            <div id="list" ng-click="select_option('list')" class="options option_list">Listado</div>
            <div id="map" ng-click="select_option('map')" class="options option_map_off">Mapa</div>
          </div>
          <div class="results-wrapper">
            <div id="list_container">
              <div class='establecimiento clickable' ng-click="openDetailsModal('{{stablishment.id}}');" ng-repeat="stablishment in establecimientos">
                {{stablishment.nombre}}
              </div>
            </div>
            <div id="map_wrapper" >
              <div id="map_container" >
                <ion-view hide-nav-bar="true">
                  <leaflet data-tap-disabled="true" id="primary_map" defaults="map.defaults" center="map.center" markers="map.markers" ng-if="map"></leaflet>
                </ion-view>
              </div>
            </div>
          </div>
  </ion-content>
</ion-view>
