<ion-view title="ElijoEstudiar" hide-nav-bar="true" class="">
  <ion-content scroll="false">
        <div class="rombo_amarillo_chico"></div>
        <div class="rombo_amarillo_derecha"></div>
        <div class="form">
          <div class="title">Buscar establecimiento</div>
          <input type="text" id="search_input" class="que estudiar_input clickable" ng-model="nombre" ng-change="onSearchChange()" />
          <div id="search_view_map_button" class="button_listado_completo clickable" ng-click="showMap()">Ver en mapa</div>
          <div id="search_view_list_button" style="display: none;" class="button_listado_completo clickable" ng-click="showList()">Ver en listado</div>
      	  <!--<div class="button-wrapper">
            <button class="form_next_button primary_button clickable" ng-click="next()">Continuar</button>
          </div>-->
          <div id="list_container" style="display: none;">
            <ion-scroll id="searchResults_scroll" scrollX="false" scrollY="true">
              <div class='establecimiento clickable' ng-click="searchSelect('{{est.id}}');" ng-repeat="est in establecimientos">
                {{est.nombre}}
              </div>
            </ion-scroll>
          </div>
        </div>
  </ion-content>
</ion-view>
