<ion-view title="Sobre ElijoEstudiar" hide-nav-bar="true">
  <ion-content scroll="false">
    <div class="intro_rombo_azul"></div>
    <div class="intro_rombo_amarillo"></div>
    <div class="intro inside_rectangle">
      <img class ="logo" src="img/elijo_estudiar.svg" />
      <h1>Sobre Elijo Estudiar</h1>
      <div id="intro-message">
        <p>¡Hola! 👋 Esta herramienta fue creada para ayudarte a buscar dónde y cómo empezar o seguir estudiando en Educación pública Inicial, Primaria, Secundaria, UTU y Formación en Educación.</p>
        <p>Completando tus datos y preferencias, te podemos mostrar información de cursos, centros de estudio cerca de vos, información de los centros, previaturas y más.</p>
      </div>
    </div>
  </ion-content>
</ion-view>
