/*EDUCACION*/
body {
	font-family: Nunito;
}
img {
	width: 100%;
}
ion-nav-view {
	background-color: #000;
}
.main.view-container {
	position: relative;
	float: left;
}
.modal {
	float: left;
	position: relative;
	display: flex;
}
.slider-slide {
	height: auto;
}
.slider-slides {
	display: flex;
}
#loading {
	font-size: 18px;
	text-align: center;
}

.buscando img {
  display: block;
  margin: auto;
  width: 15%;
}

#loading-mini {
	float: left;
	width: 56px;
  height: 26px;
  margin-left: -56px;
	margin-top: 6px;
}
.buscando #loading {
	width: 100%;
}
.buscando #loading img{
	width: 20%;
	margin: 35vh 40% 30px;
}
.buscando #loading::after {
	content: 'Buscando';
}
.intro_inside_rectangle.buscando {
	background-image: url(./img/buscando.svg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	font-size: 18px;

}
button {
	margin-top: 16px;
	float: left;
	width: 100%;
	height: 58px;
	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
}
.intro_rombo_azul{
	width: 159.8px;
  height: 166.2px;
  object-fit: contain;
	background-image:    url(./img/intro_rombo_azul.svg);
	background-size:     100% 100%;
	background-repeat:   no-repeat;
	background-position: center center;
	position: absolute;
	left: 0;
	top: 0;
}

.intro_inside_rectangle{
	width: 84%;
  height: 403px;
  border-radius: 6px;
  box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
	position: relative;
	float: left;
	margin: 105px 8% 60px;
}

.intro_que_buscas{
	width: 230px;
	 height: 22px;
	 font-size: 21px;
	 font-weight: 300;
	 font-style: normal;
	 font-stretch: normal;
	 line-height: 1.05;
	 letter-spacing: normal;
	 text-align: center;
	 color: #322c3a;
	 position: absolute;
	 left: 50%;
	 transform: translateX(-50%); /*or  transform: translateX(-50%);*/
	 top: 103px;
}

.intro_informacion_sobre{
	position: absolute;
	left: 50%;
	transform: translateX(-50%); /*or  transform: translateX(-50%);*/
	top: 134px;
	width: 196px;
	height: 22px;

	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.83;
	letter-spacing: 2px;
	text-align: center;
	color: #322c3a;
	text-transform: uppercase;
}

.intro_informacion_donde_button{
	 width: 253px;
   height: 58px;
   border-radius: 4px;
   background-color: #4a90e2;

		font-size: 16px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.25;
		letter-spacing: 0.5px;
		text-align: center;
		color: #ffffff;
		display: flex;
		justify-content: center; /* align horizontal */
		align-items: center;
		position: absolute;
		left: 50%;
		transform: translateX(-50%); /*or  transform: translateX(-50%);*/
		top: 180px;
}

.intro_informacion_centro_button{
	width: 253px;
	height: 58px;
	border-radius: 4px;
	background-color: #4acee2;

	 font-size: 16px;
	 font-weight: normal;
	 font-style: normal;
	 font-stretch: normal;
	 line-height: 1.25;
	 letter-spacing: 0.5px;
	 text-align: center;
	 color: #ffffff;
	 display: flex;
	 justify-content: center; /* align horizontal */
	 align-items: center;
	 position: absolute;
	 left: 50%;
	 transform: translateX(-50%); /*or  transform: translateX(-50%);*/
	 top: 254px;
}

.intro_rombo_amarillo{
	width: 187px;
  height: 216px;
  object-fit: contain;
	position: absolute;
	bottom: 0;
	right: 0;
	background-image:    url(./img/intro_rombo_amarillo.svg);
background-size:     100% 100%;
background-repeat:   no-repeat;
background-position: center center;
}

.rombo_amarillo_chico{
	width: 84px;
  height: 128px;
	object-fit: contain;
	position: absolute;
	top: 0;
	left: 0;
	background-image:    url(./img/rombo_amarillo_chico.svg);
	background-size:     100% 100%;
	background-repeat:   no-repeat;
	background-position: center center;
}
.form {
	width: 60%;
	float: left;
	margin: 36px 20%;
	padding: 0 10%;
	z-index: 1;
	height: 100%;
}
.form input {
	background: transparent;
	float: left;
	width: 100%;
	height: 35px !important;
	border-bottom: solid 1px #4a90e2 !important;
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
	font-size: 15px !important;
	text-align: center !important;
	color: #4a90e2 !important;
}

/*Form step 1*/
.form-pagina {
  width: 80%;
  padding: 0 10%;
  margin: 42px 10% 0 10%;
}

.rombo_amarillo{
	width: 100.8px;
  height: 157.6px;
  object-fit: contain;
	background-image:    url(./img/rombo_amarillo.svg);
	background-size:     100% 100%;
	background-repeat:   no-repeat;
	background-position: center center;
	position: absolute;
	left: 0;
	top: 0;
}
.edad_title{
	width: 100px;
  height: 29px;

  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
	position: absolute;
	left: 50%;
	transform: translateX(-50%); /*or  transform: translateX(-50%);*/
	top: 66px;
}
.edad_controls{
	width: 194px;
  height: 94.3px;
	position: relative;
	float: left;
	margin: 40px calc(50% - 97px);
}
.edad_menos{
	width: 40.4px;
  height: 40.4px;
  object-fit: contain;
 /*box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.11);
 border-radius: 7px;*/
 background-image:    url(./img/rombo_mas_menos.png);
 background-size:     100% 100%;
 background-repeat:   no-repeat;
 background-position: center center;
 position: absolute;
 left: 0px;
 top: 29px;

font-size: 21px;
font-weight: bold;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: 0.7px;
text-align: center;
color: #ffffff;
display: flex;
justify-content: center; /* align horizontal */
align-items: center;
cursor: pointer;
}
.edad_text{
	width: 90px;
  height: 94.3px !important;
  object-fit: contain !important;
	/*border-radius: 31px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.11);*/
 background-image:    url(./img/rombo_edad.svg);
 background-size:     100% 100%;
 background-repeat:   no-repeat;
 background-position: center center;
 position: absolute;
 left: 52px;
 top: 0px;
 font-family: Nunito !important;
 font-size: 27px !important;
 font-weight: bold !important;
 font-style: normal !important;
 font-stretch: normal !important;
 line-height: normal !important;
 letter-spacing: normal !important;
 text-align: center !important;
 color: #ffffff !important;
display: flex !important;
justify-content: center !important;
align-items: center !important;
border: 0 !important;
cursor: pointer;
}
.edad_mas{
	width: 40.4px;
  height: 40.4px;
  object-fit: contain;
 /*box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.11);
 border-radius: 7px;*/
 background-image:    url(./img/rombo_mas_menos.png);
 background-size:     100% 100%;
 background-repeat:   no-repeat;
 background-position: center center;
 position: absolute;
 right: 0px;
 top: 29px;

font-size: 21px;
font-weight: bold;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: 0.7px;
text-align: center;
color: #ffffff;
display: flex;
justify-content: center; /* align horizontal */
align-items: center;
cursor: pointer;
}
.ultimoNivelAprobado_title{
	width: 210px;
  height: 29px;

  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
	position: absolute;
	left: 50%;
	transform: translateX(-50%); /*or  transform: translateX(-50%);*/
	top: 246px;
}
.ultimoNivelControls{
	width: 90%;
	height: 70px;
  background-image: url(./img/linea-niveles-new.svg);
  background-size: 100% 3px;
	background-repeat: no-repeat;
	background-position: 9px 18px;
	position: relative;
	float: left;
	margin: 6px 5%;
}
.nivel.hidden{
	background: transparent;
	color: transparent;
}
.nivel_punto {
  background-image: url(./img/punto-niveles-new.svg);
  height: 14px;
  width: 14px;
  margin-top: -38px;
  margin-bottom: 25px;
}
.nivel{
	width: 80px;
  height: 70px;
  object-fit: contain;
	background-image:    url(./img/nivel_.svg);
  background-size:     40.4px 40.4px;
  background-repeat:   no-repeat;
  background-position: 0 3px;
  padding-top: 50px;

  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  text-align: center;
  color: #4acee2;
  cursor: pointer;
}
.nivel_title {
  margin-left: -37px;
}
.nivel_ninguno {
	position: absolute;
	left: 0%;
	top: 0;
}
.nivel_primaria{
	position: absolute;
	left: 25%;
	top: 0;
}
.nivel_secundaria{
	position: absolute;
	left: 50%;
	top: 0;
}
.nivel_terceario{
	position: absolute;
	left: 75%;
	top: 0;
}
.nivel_universitario{
	position: absolute;
	left: 98%;
	top: 0;
}
.rombo_azul{
	width: 100%;
	height: calc(100% - 380px);
	max-height: 287px;
	background-image:    url(./img/rombo_azul.svg);
	background-size:     cover;
	background-repeat:   no-repeat;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
}
.ultimoAnioAprobado_title{
	width: 220px;
  height: 29px;

  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
	position: absolute;
left: 50%;
transform: translateX(-50%); /*or  transform: translateX(-50%);*/
bottom: 150px;
}
.ultimoAnioAprobado_select{
	width: calc(100% - 100px);
  height: 30px;
  border-bottom: solid 1px #4a90e2;
	border-top: none;
	border-left: none;
	border-right: none;
	position: absolute;
left: 50%;
transform: translateX(-50%); /*or  transform: translateX(-50%);*/
bottom: 100px;

font-size: 15px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
text-align: center;
color: #4a90e2;
display: flex;
justify-content: center; /* align horizontal */
align-items: center;
background-color: transparent;
}
select {
	text-align-last: center;
}
.form_next_button {
	border: none;
  background-color: #4acee2;
	color: #ffffff;
}
.form_back_button {
	border: solid 1.5px #4acee2;
	background-color: #ffffff;
	color: #4acee2;
}

.que.estudiar_title{
	top: 94px;
}

.donde.estudiar_title{
	top: 244px;
}

.turno.estudiar_title{
	top: 354px;
color: #122254;
}

.title{
	height: 29px;
	margin-bottom: 12px;
	font-size: 20px;
	line-height: 1.45;
	text-align: center;
	color: #000000;
	width: 100%;
	float: left;
}

input.estudiar_input{
	width: calc(100% - 40px);
	padding-left: 40px;
}

.listAndMap-wrapper{
	width: 100%;
	text-align: center;
	float: left;
	margin: 30px 0;
}

.clickable{
	cursor: pointer;
}

.primary_button{
	background-color: #4acee2;
}

.primary_button:hover{
	background-color: #4a90e2;
}

.options{
	z-index: 99999;
	width: 64px;
  height: 94px;
  object-fit: contain;
	margin-left: 14px;
	margin-right: 14px;
  display: inline-block;
	background-size:     64px 64px;
	background-repeat:   no-repeat;
	background-position: 0 0;

  font-size: 13.2px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  text-align: center;
  color: #122254;
	 padding-top: 76px;
	 cursor: pointer;
 }

 .option_list{
	 background-image:    url(./img/listado.svg);
 }

 .option_list_off{
		background-image:    url(./img/listado_off.svg);
	  color: #bebfc2;
	}

	.option_map{
		background-image:    url(./img/mapa.svg);
	}

	.option_map_off{
		 background-image:    url(./img/mapa_off.svg);
		 color: #bebfc2;
	 }

.turnos-wrapper{
	width: 100%;
	text-align:center;
	padding-left: 10px;
}

.turnos{
	z-index: 99999;
	width: 28%;
	min-width: 82px;
  height: 10vh;
  object-fit: contain;
	margin-right: 10px;
  display: inline-block;
	background-size:     90px 95px;
	background-repeat:   no-repeat;
	background-position: center;
	font-size: 12px;
	letter-spacing: 0.3px;
	text-align: center;
	padding-top: 95px;
	cursor: pointer;
	font-weight: normal;
	color: #bec1cb;
 }
.turnos.selected{
	font-weight: 600;
	color: #122254;

}
.turno_matutino{
	background-image:    url(./img/matutino_off.svg);
}

.turno_matutino.selected{
	background-image:    url(./img/matutino.svg);
}

.turno_vespertino{
	background-image:    url(./img/vespertino_off.svg);
}

.turno_vespertino.selected{
	background-image:    url(./img/vespertino.svg);
}

.turno_nocturno{
	background-image:    url(./img/nocturno_off.svg);
}

.turno_nocturno.selected{
	background-image:    url(./img/nocturno.svg);
}

.rombo_amarillo_derecha{
	width: 40px;
   height: 269px;
   object-fit: contain;
	 position: absolute;
	 top:94px;
	 right: 0;
	 background-size:     contain;
 background-repeat:   no-repeat;
 background-position: center center;
 background-image:    url(./img/rombo_amarillo_derecha.svg);
}

.rombo_azul_chico{
	width: 57px;
  height: 161px;
  object-fit: contain;
	position: absolute;
bottom:-30px;
left: 0;
background-size:     contain;
background-repeat:   no-repeat;
background-position: center center;
background-image:    url(./img/rombo_azul_chico.svg);
}

.button_listado_completo{
	width: 118px;
  height: 29px;
  border-radius: 5px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.11);
  background-color: #ffffff;
	font-size: 11px;
	text-align: center;
	color: #122254;
	padding-top: 7px;
	float: left;
	margin: 10px calc(50% - 59px) 0;
}
#SearchQueResults{
	display: none;
	width: calc(100% + 40px);
	height: 36vh;
	position: relative;
	float: left;
	border-radius: 6px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
	background-color: #ffffff;
	z-index: 1;
	margin-left: -20px;
	margin-top: -30px;
}

#SearchDondeResults{
	display: none;
	width: 100%;
	height: 200px;
	float: left;
	margin-top: 10px;
	border-radius: 6px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
	background-color: #ffffff;
}

#searchResults_scroll{
	width: 100%;
  height: 100%;
}

#searchDondeResults_scroll{
	width: 100%;
  height: 200px;
}
.show-map {
	background-image: url(./img/mapa.svg);
	width: 40px;
	height: 40px;
	position: relative;
	left: calc(100% - 40px);
	background-size: cover;
	background-repeat: no-repeat;
	top: 40px;
}
.section {
	margin-top: 42px;
	width: 100%;
	float: left;
}
.subsistema_title{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 38px;
	background-color: #4a90e2;

  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: #ffffff;
	padding-top: 9px;
	padding-left: 14px;
}

.subsistema_curso{
	width: 100%;
	/* height: auto; */
	/* display: block; */
	padding-top: 13px;
	/* padding-bottom: 13px; */
	border-bottom: solid 2px #efefef;
	margin: 0 0 0 0;
	position: relative;
	max-height: 120px;
}

.donde_container{
	width: 100%;
	/* height: auto;
	display: block;
	padding-bottom: 13px; */
	border-bottom: solid 2px #efefef;
	margin: 0 0 0 0;
	position: relative;
	max-height: 50px;
}
.donde_title {
	padding: 13px;
}
.curso_nombre{
	position: relative;
	left: 0px;
	top: 0px;
	padding-left: 14px;
	padding-top: 9px;
	width: 90%;
	height: 22px;

  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #000000;
}

.curso_tag_wrapper{
	position: relative;
	padding-left: 14px;
	padding-top: 9px;
	width: 100%;
	height: 60px;
}

.curso_tag{
	max-width: 48%;
	min-height: 18px;
  border-radius: 7px;
  background-color: #eeeeee;

	font-size: 9px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.3px;
	text-align: center;
	color: #4a90e2;
	display: inline-block;
	margin-right: 8px;
	padding-left: 13px;
	padding-right: 13px;

	padding-top: 3px;
}

#full_search_str{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	float: left;
	width: 100%;
	text-align: center;
	margin: 30px 0 10px;
	border-bottom: solid 1px #4a90e2;
	padding-bottom: 7px;
	font-size: 13px;
	color: #4a90e2;
}
[nav-view-transition="ios"][nav-view-direction="forward"],
[nav-view-transition="ios"][nav-view-direction="back"] {
	background-color: #fff;
}
#ubicacion-wrapper {
	position: relative;
	width: 100%;
	height: 512px;
}
#ubicacion {
	/* TODO:  Revisar tamaño del mapa*/
	width: 100%;
	height: 512px;
	position: relative;
	display: none;
}
#modal-page #ubicacion {
	position: relative;
}
#map_wrapper{
	position: absolute;
	width: 100vw;
	margin-left: -40px;
	height: 360px;
	visibility: hidden;
}
#map_container{
		position: absolute;
		top: 0;
		left: 0;
    width: 100%;
    height: 360px;
    /*top: 370px;
    left: 0px;
		*/
}

#list_container {
  width: 100%;
  height: 360px;
	overflow-y: auto;
}

.establecimiento{
	width: 100%;
	height: auto;
	border-radius: 5px;
	border: solid 1px #4a90e2;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0.4px;
	color: #4a90e2;
	padding-top: 14.4px;
	padding-left: 13px;
	position: relative;
	margin-bottom: 11px;
}

#foot_container{
	 position: relative;
	 bottom: 0;
	 width: 100%;
	 height: 298px;
	 background-color: #4a90e2;
	 float: left;
}

#form_container{
	float: left;
	position: relative;
	top: 0;
	width: 100%;
	height: initial;
}
.pane{
	position: relative;
	float: left;
}
.scroll-content {
	position: relative;
}
.menu-content.pane{
	overflow-y: auto;
  /*overflow: overlay !important;*/
}
/*End form*/


.footer_share{
	width: 100px;
  height: 70px;

  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.5;
  letter-spacing: normal;
  color: #ffffff;
	position: absolute;
	left: 50%;
	transform: translateX(-50%); /*or  transform: translateX(-50%);*/
	top: 30px;
	text-align: center;
}

.footer_share_wrapper{
	position: absolute;
	left: 50%;
	transform: translateX(-50%); /*or  transform: translateX(-50%);*/
	top: 107px;
	text-align: center;
	width: 130px;
  height: 32px;
}

.footer_fb{
	background-size:     contain;
	background-repeat:   no-repeat;
	background-position: center center;
	background-image:    url(./img/fb.svg);
	width: 32px;
  height: 32px;
	display: inline-block;
	margin-right: 30px;
}

.footer_tw{
	background-size:     contain;
	background-repeat:   no-repeat;
	background-position: center center;
	background-image:    url(./img/tw.svg);
	width: 32px;
  height: 32px;
	display: inline-block;
}

.footer_credits{
	width: 186px;
  height: 70px;

  font-size: 10px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 7;
  letter-spacing: 5.9px;
  color: #ffffff;
	position: absolute;
	left: 50%;
	transform: translateX(-50%); /*or  transform: translateX(-50%);*/
	top: 142px;
	text-align: center;
}

.footer_logos_wrapper{
	position: absolute;
	left: 50%;
	transform: translateX(-50%); /*or  transform: translateX(-50%);*/
	top: 212px;
	text-align: center;
	width: 250px;
	height: 38px;
}

.footer_anep{
	background-size:     contain;
	background-repeat:   no-repeat;
	background-position: center center;
	background-image:    url(./img/anep.svg);
	width: 98px;
  height: 36px;
	display: inline-block;
	margin-right: 38px;
}

.footer_data{
	background-size:     contain;
	background-repeat:   no-repeat;
	background-position: center center;
	background-image:    url(./img/data.svg);
	width: 98px;
  height: 38px;
	display: inline-block;
}

.establecimientoMarker{
  width: 52px;
  height: 60px;
}

/*DETAILS*/

.back_arrow{
	width: 19px;
  height: 19px;
  object-fit: contain;
	background-size:     contain;
background-repeat:   no-repeat;
background-position: center center;
background-image:    url(./img/back_arrow.svg);
position: absolute;
top: 26px;
left: 24px;
}

.add_to_fav_icon_detail{
	width: 140px;
  height: 37px;
  border-radius: 4px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.11);
  background-color: #ffffff;

font-size: 10px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
color: #000000;
position: absolute;
top: 107px;
right: 23px;
padding-top: 15px;
padding-left: 35px;
background-size:     17px 17px;
background-repeat:   no-repeat;
background-position: 10px 12px;
background-image:    url(./img/add_to_fav_icon_detail.svg);
z-index: 999999;
}

.modal_map_container{
 width: 100%;
 height: 20vh;
 position: absolute;
 top: 154px;
 left: 0;
}
.main-details {
	float: left;
	width: 100%;
	padding: 0 20px;
	margin-top: 92px;
}
.photo-wrapper {
	float: left;
	width: 100%;
}
.detail_photo{
	width: 40%;
  height: 19.5vh;
  border-radius: 9px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.11);
	position: relative;
	background-color: #fff;
}

.detail_depto{
	width: 36%;
	height: 24px;
	border-radius: 5px;
	font-size: 12px;
	letter-spacing: 1.2px;
	color: #000000;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center;
	position: relative;
	float: left;
	margin: 12px 0;
	background-color: #fff;
}

.detail_title{
	font-size: 19px;
	font-weight: bold;
	color: #000000;
	width: 100%;
	float: left;
	margin: 12px 0;
}

.detail_data{
	width: calc(50% - 14px);
	font-size: 13px;
	padding-left: 35px;
	display: inline-block;
	vertical-align: top !important;
	margin: 8px 12px 8px 0;
}

.detail_address{
background-size:     17px 22px;
background-repeat:   no-repeat;
background-position: 0 0;
background-image:    url(./img/direccion_icon.svg);
}

.detail_phone{
background-size:     24px 24px;
background-repeat:   no-repeat;
background-position: 0 0;
background-image:    url(./img/telefono_icon.svg);
}

.detail_web{
background-size:     18px 17px;
background-repeat:   no-repeat;
background-position: 0 0;
background-image:    url(./img/web_icon.svg);
}

.detail_text{
	width: 100%;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.11);
	font-size: 14px;
	line-height: 1.64;
	color: #000000;
	padding: 22px 20px;
	margin: 25px 0 40px;
}
.list-header {
	height: 60px;
	padding: 20px;
	color: rgb(255, 255, 255);
	background-color: #4a90e2;
	margin: 0;
}
.list-header.item.active {
	background-color: #4a90e2;
}
.section-main {
	width: calc(100% - 20px);
	float: left;
}
.arrow-icon {
	float: right;
	width: 20px;
	height: 20px;
}
.arrow-icon::before {
	background-color: #fff;
	width: 13px;
	height: 3px;
	position: relative;
	content: '';
	display: block;
	transition: all .2s ease-out;
	transform: rotate(45deg);
	border-radius: 2px;
	top: 8px;
}
.arrow-icon::after {
	background-color: #fff;
	width: 13px;
	height: 3px;
	position: relative;
	content: '';
	display: block;
	transition: all .2s ease-out;
	transform: rotate(-45deg);
	left: 7px;
	border-radius: 2px;
	top: 5px;
}
.arrow-icon.arrow-up::before {
	transform: rotate(135deg);
}
.arrow-icon.arrow-up::after {
	transform: rotate(45deg);
}
/*END DETAILS*/

/*FIN EDUCACION*/


.slider-pager{
	display: none;
}

input[type="text"]{
	border: 1px #000 solid;
}

body {
  height: 100%;
  width: 100%;
}

.scroll, .angular-leaflet-map {
  height: 100%;
}

.leaflet-bottom {
  bottom : 10px;
}
.item {
	width: 100%;
}
.item.item-body p {
  margin-top: 0;
}
.item-toggle {
	border: none;
	padding-right: 0;
	padding-left: 90px;
}
.subsis.item {
	float: left;
	border: none;
	margin: 30px 0;
	width: 100%;
}
.item-toggle .toggle {
	left: 16px;
}
.toggle .track {
	width: 46px;
	height: 24px;
	background-color: #f4f2f2;
	border: none;
}
.toggle input:checked + .track {
	background-color: #eaf4ff;
	border: none;
}
.toggle .handle {
	width: 18px;
	height: 18px;
	background-color: #d5d5d5;
	box-shadow: none;
}
.toggle input:checked + .track .handle {
	background-color: #4a90e2;
}
.section-center {
	max-width: 300px;
	margin: auto;
}

.tabs.border-top {
  border-top: 1px solid #ddd !important;
}

.intro-background{
    background-image:    url(./img/bg-intro.jpg);
    background-size:     contain;
    background-repeat:   no-repeat;
    background-position: center center;
}

.intro-logo{
  background-image:    url(./img/intro-logo.png);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  width: 215px;
  height: 177px;
  margin: 15% auto;
}

.intro-spinner{
  width: 50px;
  height: 50px;
  margin: 0 auto 0 auto;
  z-index: 99999;
}

.intro-background .intro-spinner{
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translateX(-50%); /*or  transform: translateX(-50%);*/
}

#spinner{
  position: absolute;
  top: 45%;
  left: 45%;
  z-index: 99999;
}

.modal-spinner{
  width: 130px;
  height: 110px;
  margin: 0 auto 0 auto;
  z-index: 99999;
  display: none;
}

#spinner-inside-modal{
  position: absolute;
  top: 30%;
  left: 30%;
  z-index: 99999;
  background-color: #000000;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 35px 35px 35px 35px;
  -moz-border-radius: 35px 35px 35px 35px;
  -webkit-border-radius: 35px 35px 35px 35px;
  border: 1px solid #FFFFFF;
}

#spinner-inside-modal h3{
  color: #FFFFFF;
  font-size: 12px;
  margin: 0;
  text-align: center;
  margin-bottom: 5px;
}

#spinner-inside-modal .spinner svg{
  width: 50px;
  height: 50px;
  stroke: #FFF;
  fill: #FFF;
  position: relative;
  left: 30%;
}

.spinner svg {
  width: 50px;
  height: 50px;
  stroke: #444;
  fill: #444;
}

.intro-icons{
  bottom: 7%;
  position: fixed;
  right: 0%;
  width: 100%;
  text-align: center;
  align-items: center;
}

.intro-icons a img {
  margin-left: 3px;
  margin-right: 3px;
}

.foot-bar{
  bottom: 0%;
  position: absolute;
  height: 105px;
  width: 100%;
}

.street-search-bar{
  background-color: #19222b;
  border-bottom: 1px #FFFFFF solid;
  width: 100%;
  height: 35px;
  padding-left: 6%;
  padding-right: 5%;
}

.search-icon{
  width: 30px;
  height: 35px;
  background-image:    url(./img/icon-search.png);
  background-repeat:   no-repeat;
  background-position: center center;
  float: left;
}

.search-textbox-label{
  background-color: transperent;
  width: 85%;
  float: left;
}

#search-textbox{
  background-color: transperent;
  width: 85%;
  float: left;
  font-size: 11px;
}

.options-bar{
  height: 105px;
  width: 100%;
  background-color: #1a2837;
  padding-left: 5%;
  padding-right: 5%;
}

.option-active{
  width: 48px;
  height: 70px;
  background-color: #f0384d;
  float: left;
}

.option-inactive{
  width: 48px;
  height: 70px;
  background-color: #1a2837;
  float: left;
}

.button-report{
  background-image:    url(./img/icon-reportar.png);
  background-repeat:   no-repeat;
  background-position: center center;
  width: 48px;
  height: 70px;
}

.button-list-reports{
  background-image:    url(./img/icon-reportes.png);
  background-repeat:   no-repeat;
  background-position: center center;
  width: 48px;
  height: 70px;
}

.button-faq{
  background-image:    url(./img/icon-ayuda.png);
  background-repeat:   no-repeat;
  background-position: center center;
  width: 48px;
  height: 70px;
}

.button-find-me{
  background-image:    url(./img/icon-findme.png);
  background-repeat:   no-repeat;
  background-position: center center;
  width: 48px;
  height: 70px;
}

.user-options{
  width: 75px;
  height: 75px;
  background-color: #1a2837;
  float: right;
  margin-top: 15px;
}

.user-picture{
  width: 75px;
  height: 75px;
  background-image:    url(./img/icon-user-anonymous.png);
  background-repeat:   no-repeat;
  background-position: center center;
  background-size: 75px 75px !important;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
}

#report-list-scroll{
  display: none;
  background-color: #e8eeec;
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 105px;
  top: auto;
  border-top-color: #adb9b8;
  border-top-style: solid;
  border-top-width: 2px;
}

#offline-report-list-scroll{
  background-color: #e8eeec;
  width: 100%;
  height: auto;
  max-height: 40%;
  min-height: 20%;
  position: absolute;
  bottom: 105px;
  top: auto;
  border-top-color: #adb9b8;
  border-top-style: solid;
  border-top-width: 2px;
}

#offline-report-list-scroll h3{
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: -10px;
}

#offline-report-list-scroll h3 a{
  font-size: 20px;
  color: #0078A8;
  text-align: center;
}

.report-in-list-actions a{
  font-size: 18px;
  margin-right: 15px;
  color: #0078A8;
}

.offline-pending{
  text-align: center;

}

#report-list{
  background-color: #e8eeec;
  height: 40%;
}

#report-list-offline{
  background-color: #e8eeec;
  height: 40%;
}

.list{
}

.report-list-header{
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom-color: #adb9b8;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.report-list-header h2{
  font-size:20px;
  font-weight: bold;
  color: #231f20;
}

.report-list-header p{
  text-align: justify;
  color: #231f20;
}

.report-inside-list{
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: auto;
  /*border-bottom-color: #adb9b8;
  border-bottom-style: solid;
  border-bottom-width: 1px;*/
  overflow:auto;
}

.report-inside-list-offline{
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: auto;
  /*border-bottom-color: #adb9b8;
  border-bottom-style: solid;
  border-bottom-width: 1px;*/
  overflow:auto;
}

.report-inside-list-active{
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: auto;
  border-bottom-color: #adb9b8;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  overflow:auto;
  background-color: #FFFFFF;
}

.report-in-list-icon{
  background-repeat:   no-repeat;
  background-position: center center;
  width: 20%;
  height: 60px;
  position: relative;
  float: left;
}

.report-in-list-icon-offline{
  background-repeat:   no-repeat;
  background-position: center center;
  width: 20%;
  height: 60px;
  position: relative;
  float: left;
}

.report-in-list-info {
    margin-left: 15px;
    width: 70%;
    position: relative;
    float: left;
    height: auto;
}

.report-in-list-title{
  font-size: 15px;
  text-transform: uppercase;
  color: #6f8383;
  margin-bottom: 0px;
}

.report-in-list-category{
  font-size: 13px;
  color: #000000;
  margin-bottom: 0px;
}

.report-in-list-date{
  font-size: 11px;
  color: #6f8383;
  margin-bottom: 15px;
  font-style: italic;
  float: left;
}

.report-in-list-actions{
  font-size: 11px;
  color: #6f8383;
  margin-bottom: 15px;
  margin-right: 10px;
  float: right;
}

.report-mini-icons{
  float: left;
  margin-left: 10px;
}

.report-mini-icon{
  width: auto;
  margin-left: 7px;
  float: left;
}

.top-bar-imm{
  position: absolute;
  top: 0%;
  z-index: 9999;
  height: 30px;
  width: 100%;
}

.white-bar-imm{
  width: 100%;
  height: 15px;
  background-color: #FFFFFF;
}

.icon-imm-top{
  width: 25px;
  height: 30px;
  background-image:    url(./img/icon-imm-top-bar.png);
  background-repeat:   no-repeat;
  background-position: center center;
  float: right;
  margin-top: -15px;
  margin-right: 20px;
}

.leaflet-top .leaflet-control {
  margin-top: 40px;
}

.new-report-content {
  margin-top: 30px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  height: auto;
}

.new-report-slide {
  height: 100%;
}

.subcategory-hidden{
  display: none;
}

.subcategory-active{
  display: block;
  border: 0;
  color: #EEE;
  background: transparent;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 10px;
  width: 100%;
  -webkit-appearance: none;
}

.subcategory-active option {
    background: #2bac6d;
    color:#fff;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
}

.new-report-slide-controls{
  z-index: 11111;
  position: absolute;
  bottom: 20px;
  height: 50px;
  width: 100%;
}

.image_preview{
  width: 100px;
  height: 100px;
}

.new-report-scroll{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
}

.new-report-modal{
  background-color:rgba(0, 0, 0, 0.8);
}

.report-detail-scroll{
  height: 88%;
  width: 100%;
  position: absolute;
  top: 0%;
}

.report-detail-back{
  position: absolute;
  top: 88%;
  right: 6%;
}

.faq-scroll{
  height: 88%;
  width: 100%;
  position: absolute;
  top: 12%;
}

.faq-container{
  padding-left: 15px;
  padding-right: 15px;
}

#faq_content{
  margin-top: 20px;
  height: 80%;
}

#faq_back_to_top{
  position: absolute;
  bottom: 5%;
  right: 6%;
}

.category-header h3{
  color: #FFFFFF;
  font-size: 14pt;
}

.category-header p{
  color: #FFFFFF;
  font-size: 12pt;
  font-style: italic;
}

.text-input-header h3{
  color: #FFFFFF;
  font-size: 12pt;
  padding-left: 10px;
}

.category-select{
   border: 0;
   color: #EEE;
   background: transparent;
   font-size: 12px;
   font-weight: bold;
   padding: 2px 10px;
   width: 100%;
   -webkit-appearance: none;
}

.category-select option {
    background: #2bac6d;
    color:#fff;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
}

.category-select-container {
   overflow:hidden;
   width:100%;
   -moz-border-radius: 7px 7px 7px 7px;
   -webkit-border-radius: 7px 7px 7px 7px;
   border-radius: 7px 7px 7px 7px;
   background: #2bac6d url("./img/select_arrow.png") no-repeat scroll 96% center;
   border-color: #FFFFFF;
   border-width: 1px;
   border-style: solid;
}

.field-separator{
  height: 10px;
}

.text-input{
  background-color: transparent;
  color: #ffffff;
  width:100%;
}

.text-input-container{
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  width:100%;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
}

.foto-header h3{
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
}

.foto-footer h3{
  color: #FFFFFF;
  font-size: 12px;
  text-align: center;
}

.foto-input-container{
  border-color: #ffffff;
  border-width: 1px;
  border-style: dashed;
  width:100%;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
  height: auto;
}

.foto-icon{
  width: 36px;
  height: 27px;
  background: url("./img/file-from-camera.png") no-repeat center;
  float: left;
  position: relative;
}

.foto-icon-black{
  width: 36px;
  height: 27px;
  background: url("./img/icon-camera-black.png") no-repeat center;
  float: left;
  position: relative;
}

.foto-text{
  font-size: 10pt;
  float: right;
  position: relative;
  padding-left: 10px;
  padding-top: 5px;
  color: #FFFFFF;
  font-style: italic;
}

.foto-picker{
  margin: 7px auto;
  width: 80%;
}

.form-button{
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  width:100%;
  height: 35px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
  color: #FFFFFF;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
}

.form-button-big{
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  width:100%;
  height: 45px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
  color: #FFFFFF;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
}

.custom-html-modal-button{
  border-color: #1a2837;
  border-width: 2px;
  border-style: solid;
  height: 35px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
  color: #1a2837;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
}
button.full-width {
	margin: 42px 25%;
	width: 50%;
}
#user-options-menu{
  display: none;
  height: 160px;
  width: 200px;
  z-index: 99999;
  background-color:rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 105px;
  right: 0px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
}

#user-options-menu {
  color: #FFFFFF;
  padding-left: 10px;
  font-size: 16px;
}

#auth_options{
  margin-top: 10px;
}

.nonauth-link{
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
}

.user-logged-link{
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  height: 40px;
  font-size: 12pt;
}

#actual_photo{
  height: 100px;
  width: 100px;
  margin: 0 auto;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;
  background-size: 100% 100% !important;
}

#actual_photo_container h3{
  font-size: 14px;
  text-align: center;
  margin-bottom: 5px;
  color: #FFFFFF;
}

#actual_photo_container{
  text-align:center;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0%;
  left: 60%;
}

#error_container{
  display: none;
  width: 90%;
  height: auto;
}

#error_container h3{
  font-size: 14px;
  text-align: left;
  margin-bottom: 5px;
  color: red;
}

#error_container_inside{
  display: none;
  width: 90%;
  height: auto;
  margin-top: 10px;
}

#error_container_inside h3{
  font-size: 14px;
  text-align: left;
  margin-bottom: 5px;
  color: red;
}

.leaflet-control-attribution{
  display: none;
}

.report-photo{
  width: 75%;
  height: auto;
  margin: 0 auto 0 auto;
}

.report-link{
  font-size: 18px;
}

.leaflet-popup-content{
  font-size: 18px;
}

#map_crosshair{
  z-index: 99999999;
  width: 100px;
  height: 100px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image:    url(./img/crosshairs@x2.png);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  display: none;
}

#map_crosshair_button{
  z-index: 1000;
  width: 100%;
  margin: auto;
  position: absolute;
  left: 0;
  bottom: 105px;
  display: none;
}

#map_crosshair_button .custom-html-modal-button{
  background-color: #2bac6d;
  width: 100%;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.button-clear.button-clear{
  color: #000000;
}

.popup-sub-title{
  font-size: 14px;
  color: #FFFFFF;
  text-align: left;
}

.popup-title{
  font-weight: bold;
  color: #FFFFFF;
}

.popup-container .popup{
  background-color: rgba(0, 0, 0, 0.8)
}

.popup-body{
  font-size: 14px;
  color: #FFFFFF;
  text-align: left;
}

#comment_container input[type="checkbox"]{
  width: auto;
}

.report-detail-back .custom-html-modal-button{
  display: inline;
  margin-right: 15px;
}

#comment-button{
  display: none;
}

#comment_container .input-label{
    border: none;
    position: relative;
    float: left;
    font-size: 10pt;
}

#comment_container .item-checkbox{
    border: none;
    position: relative;
    float: left;
}

.add-ticket{
  margin-bottom: 25px;
}

/*.leaflet-marker-icon{
     border-radius: 50%;
}*/

/*.leaflet-popup-content p{
  margin: 10px 0; !important
}*/

/*.leaflet-popup-content p.lastupdate_inside_marker_popup, .leaflet-popup-content p.gender_inside_marker_popup, .leaflet-popup-content p.interested_inside_marker_popup{
  margin-top: -10px;
}*/


.message_icon_inside_marker_popup img{
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.chat_other_user_picture{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: relative;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  background-size: cover !important;
}

.chat_other_user_name{
  width: 150px;
  height: 75px;
  border-radius: 50%;
  position: relative;
  float: left;
  margin-left: 20px;
  margin-top: 40px;
  background-size: cover !important;
  font-size: 14pt;
  color: #fff;
}

.chat_top_bar{
  width: 100%;
  background-color: #065e52;
  height: 110px;
}

.private_chat_scroll.ionic-scroll{
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background-color: #dfdfdf;
}

.private_chat_scroll.ionic-scroll .scroll{
      height: calc(100% - 350px);
      background-color: #dfdfdf;
}

.chat_message_options{
  width: 100%;
  height: 140px;
  background-color: #ffffff;
  position: absolute;
  top: 510px;
}

.chat_message_textarea{
  width: 70%;
      height: 60%;
      border: 1px solid;
      border-radius: 10px;
      padding: 7px;
      font-size: 12pt;
      left: 5%;
      position: relative;
      top: 15%;
      float: left;
}

.send_message_button{
  width: 15%;
  height: 35%;
  margin: 5% auto 5% auto;
  border: 1px solid;
  border-radius: 10px;
  padding: 7px;
  left: 10%;
  position: relative;
  top: 10%;
  float: left;
  background-color: #065e52;
  font-size: 8pt;
  color: #fff;
  padding-top: 12px;
  padding-left: 12px;
}

.message{
  background-color: #fff;
  width: 90%;
  margin: 5% auto 5% auto;
  padding: 5px;
}

.close_message_modal{
    float: right;
    margin-top: 40px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    font-size: 25pt;
    color: white;
    text-align: center;
    padding: 2px;
}

.invitation{
  height: 150px;
  background-color: #fff;
  width: 90%;
  margin: 5% auto 5% auto;
  padding: 5px;
}

.invitation_button{
  width: 100px;
  height: 30px;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  float: right;
  margin-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}

.invitation_options{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 140px;
  background-color: #ffffff;
  padding: 15px;
}


.img_message_inside_invitation{
  width: 30px;
height: 30px;
margin-right: 10px;
margin-top: 10px;

}

.notification_item{
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
  margin-bottom: 10px;
  position: relative;
  height: 50px;
  border-radius: 15px;
}

.notification_item .text{
  font-size: 8pt;
  margin: 0;
}

.notification_item .date{
  color: grey;
  font-size: 8pt;
}

#notifications{
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 70%;
  height: 100px;
  overflow: auto;
  z-index: 99999;
  padding: 5px;
}

.notification_item .action{
  font-size: 10pt;
  color: blue;
  float: left;
  margin-right: 20px;
}

.notification_item .actions {
  float: right;
  margin-top: -30px;

}
#modal-page {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}
.modal-close {
	width: 23px;
  height: 23px;
  object-fit: contain;
	background-image:    url(./img/close.svg);
	background-size:     100% 100%;
	background-repeat:   no-repeat;
	background-position: center center;
	position: absolute;
	right: 44px;
	top: 64px;
	z-index: 11;
}
.intro_inside_rectangle.modal-map {
	top: 42px;
	z-index: 10;
	padding: 64px 4%;
	/* TODO:  Revisar tamaño del mapa*/
	height: 608px;
}
.intro_inside_rectangle.full {
	height: calc(100% - 40px);
	top: 20px;
}
.full #SearchQueResults {
	height: calc(100% - 60px);
	top: 30px;
	width: calc(100% - 40px);
  margin-left: 20px;
  margin-top: 0;
}
.results-wrapper {
	float: left;
	width: 100%;
}
.info-curso {
	height: 44px;
	width: 52%;
	margin: 24px 24% 0;
	font-size: 12px;
}
#error {
	height: 56px;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: #c00005;
	z-index: 11;
	visibility: hidden;
}
.error-content {
	width: 40%;
	height: 58px;
	margin: 0 auto;
	padding: 19px 0 19px 38px;
	vertical-align: middle;
	font-size: 15px;
	color: #fff;
	color: #fff;
	background: url(./img/noun-warning.svg);
	background-repeat: no-repeat;
	background-position: left;
}
#error-content {
	width: calc(100% - 22px);
	float: left;
}
.error-close {
	width: 22px;
	height: 22px;
	float: right;
	background: url(./img/close.svg);
	background-repeat: no-repeat;
}


/* Estilos del menú */
.menu-icon {
  cursor: pointer;
  padding: 28px 20px;
  margin-left: auto;
  z-index: 5;
	position: absolute;
	right: 0;
}

 .menu-icon .navicon {
  background: black;
  display: block;
  height: 5px;
  position: relative;
  transition: background .2s ease-out;
  width: 32px;
}

 .menu-icon .navicon:before,
 .menu-icon .navicon:after {
  background: black;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 50%;
}

ion-header-bar {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.menu-icon .navicon:before {
  top: 10px;
}

 .menu-icon .navicon:after {
  top: -10px;
  left: 50%;
}

/* menu btn */

 .menu-btn {
  display: none;
}

 .menu-btn:checked ~ .menu {
  max-height: 240px;
}

 .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

 .menu-btn:checked ~ .menu-icon .navicon:before {
  background: white;
  transform: rotate(-45deg);
  width: 100%;
}

 .menu-btn:checked ~ .menu-icon .navicon:after {
  background: white;
  transform: rotate(45deg);
  width: 100%;
  left: 0;
}

 .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
 .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.menu-btn:checked ~ .navbar .navbar-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #4a90e2;
  position: absolute;
  padding-top: 65px;
  z-index: 4;
  margin-left: 5%;
  width: 100%;
}

.navbar-items {
  display: flex;
  flex-direction: column;
  padding-left: 20%;
}

.nav-item {
  width: 100%;
  font-size: 20px;
  padding: 10px 0;
}

.nav-item a {
  color: white;
  text-decoration: none;
}

.navbar {
  width: 100%;
}

.navbar-wrapper {
  display: none;
}

.navbar {
  position: absolute;
  flex-direction: column;
}

.navbar-right {
  margin-left: 0;
}

.nav-icon {
  padding: 10% 0;
  float: left;
  position: relative;
  padding-right: 5%;
}
.icon-color {
  width: 32px;
  height: 32px;
  float: left;
}
.fa-facebook {
  background-image: url(/img/ic-facebook.svg), none;
}
.fa-instagram {
  background-image: url(/img/ic-instagram.svg), none;
}
.fa-linkedin {
  background-image: url(/img/ic-linkedin.svg), none;
}
.fa-twitter {
  background-image: url(/img/ic-twitter.svg), none;
}
.fa-youtube-play {
  background-image: url(/img/ic-youtube.svg), none;
}

/********************************************************************
***************             MEDIA QUERIES             ***************
********************************************************************/

@media (min-width: 680px){
  .modal {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
  }
  .ion-modal-view {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
  }
  .modal-wrapper{
    position: absolute;
	  top: 0;
	  left: 0;
	  display: block;
	  width: 100%;
	  height: 100%;
		/*overflow: auto;*/
  }

  #SearchQueResults, #SearchDondeResults {
    width: 500px;
  }
	.full #SearchQueResults {
		margin: 0 calc(50% - 250px);
		width: 500px;
	}
}
@media (max-width: 1024px){
	.form{
		padding: 0 5%;
	}
}
@media (max-width: 680px){
  .form{
    padding: 0;
		width: calc(100% - 80px);
		margin: 36px 40px;
  }
	.form.full {
		margin: 130px 0;
		width: 100%;
	}
	.error-content {
		width: 80%;
	}
	.main-details {
		margin-top: 0;
	}
}
