/*EDUCACION*/
.rombo_amarillo_chico{
	width: 84px;
  height: 128px;
	object-fit: contain;
	position: absolute;
	top: 0;
	left: 0;
	background-image:    url(./img/rombo_amarillo_chico.svg);
	background-size:     100% 100%;
	background-repeat:   no-repeat;
	background-position: center center;
}
.rombo_azul{
	width: 100%;
	height: calc(100% - 380px);
	max-height: 287px;
	background-image:    url(./img/rombo_azul.svg);
	background-size:     cover;
	background-repeat:   no-repeat;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
}
.ultimoAnioAprobado_title{
	width: 220px;
  height: 29px;

  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
	position: absolute;
left: 50%;
transform: translateX(-50%); /*or  transform: translateX(-50%);*/
bottom: 150px;
}
.ultimoAnioAprobado_select{
	width: calc(100% - 100px);
  height: 30px;
  border-bottom: solid 1px #4a90e2;
	border-top: none;
	border-left: none;
	border-right: none;
	position: absolute;
left: 50%;
transform: translateX(-50%); /*or  transform: translateX(-50%);*/
bottom: 100px;

font-size: 15px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
text-align: center;
color: #4a90e2;
display: flex;
justify-content: center; /* align horizontal */
align-items: center;
background-color: transparent;
}
select {
	text-align-last: center;
}
.form_next_button {
	border: none;
  background-color: #4acee2;
	color: #ffffff;
}
.form_back_button {
	border: solid 1.5px #4acee2;
	background-color: #ffffff;
	color: #4acee2;
}

.que.estudiar_title{
	top: 94px;
}

.donde.estudiar_title{
	top: 244px;
}

.turno.estudiar_title{
	top: 354px;
color: #122254;
}

.form input.estudiar_input{
	width: calc(100% - 40px);
	padding-left: 40px;
}

.clickable{
	cursor: pointer;
}

.primary_button{
	background-color: #4acee2;
}

.primary_button:hover{
	background-color: #4a90e2;
}

.options{
	z-index: 99999;
	width: 64px;
  height: 94px;
  object-fit: contain;
	margin-left: 14px;
	margin-right: 14px;
  display: inline-block;
	background-size:     64px 64px;
	background-repeat:   no-repeat;
	background-position: 0 0;

  font-size: 13.2px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  text-align: center;
  color: #122254;
	 padding-top: 76px;
	 cursor: pointer;
 }

 .option_list{
	 background-image:    url(./img/listado.svg);
 }

 .option_list_off{
		background-image:    url(./img/listado_off.svg);
	  color: #bebfc2;
	}

	.option_map{
		background-image:    url(./img/mapa.svg);
	}

	.option_map_off{
		 background-image:    url(./img/mapa_off.svg);
		 color: #bebfc2;
	 }


.rombo_azul_chico{
	width: 57px;
  height: 161px;
  object-fit: contain;
	position: absolute;
bottom:-30px;
left: 0;
background-size:     contain;
background-repeat:   no-repeat;
background-position: center center;
background-image:    url(./img/rombo_azul_chico.svg);
}

.section {
	margin-top: 42px;
	width: 100%;
	float: left;
}
.sub-section {
	margin-top: 18px;
	width: 100%;
	float: left;
}

[nav-view-transition="ios"][nav-view-direction="forward"],
[nav-view-transition="ios"][nav-view-direction="back"] {
	background-color: #fff;
}
#ubicacion-wrapper {
	position: relative;
	width: 100%;
	height: 512px;
}
#ubicacion {
	/* TODO:  Revisar tamaño del mapa*/
	width: 100%;
	height: 454px;
	position: relative;
	display: none;
}
#modal-page #ubicacion {
	position: relative;
}
#map_wrapper{
	width: calc(100% + 80px);
	margin-left: -40px;
	height: 360px;
	visibility: hidden;
	position: absolute;
}
#map_container{
		top: 0;
		left: 0;
    width: 100%;
    height: 360px;
}
#list_container {
  width: 100%;
	overflow-y: auto;
}
.filters-wrapper {
	width: calc(100% + 80px);
	margin-left: -40px;
	float: left;
}

.establecimiento{
	width: 100%;
	height: auto;
	border-radius: 5px;
	border: solid 1px #4a90e2;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0.4px;
	color: #4a90e2;
	padding-top: 14.4px;
	padding-left: 13px;
	position: relative;
	margin-bottom: 11px;
}

#form_container{
	float: left;
	position: relative;
	top: 0;
	width: 100%;
	height: initial;
}
.pane{
	position: relative;
	float: left;
}
.menu-content.pane{
	overflow-y: auto;
  /*overflow: overlay !important;*/
}
/*End form*/

#foot_container{
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #4a90e2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.footer_share{
	width: 100px;
  height: 70px;

  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.5;
  letter-spacing: normal;
  color: #ffffff;
	text-align: center;
}

.footer_share_wrapper{
	text-align: center;
	width: 130px;
  height: 32px;
}

.footer_fb{
	background-size:     contain;
	background-repeat:   no-repeat;
	background-position: center center;
	background-image:    url(./img/fb.svg);
	width: 32px;
  height: 32px;
	display: inline-block;
	margin-right: 30px;
}

.footer_tw{
	background-size:     contain;
	background-repeat:   no-repeat;
	background-position: center center;
	background-image:    url(./img/tw.svg);
	width: 32px;
  height: 32px;
	display: inline-block;
}

.footer_credits{
	width: 186px;
  height: 70px;

  font-size: 10px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 7;
  letter-spacing: 5.9px;
  color: #ffffff;
	text-align: center;
}

.footer_logos_wrapper{
	display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 30px;
}

.footer_anep{
	background-size:     contain;
	background-repeat:   no-repeat;
	background-position: center center;
	background-image:    url(./img/anep.svg);
	width: 98px;
  height: 36px;
}

.footer_data{
	background-size:     contain;
	background-repeat:   no-repeat;
	background-position: center center;
	background-image:    url(./img/data.svg);
	width: 108px;
  height: 52px;
}

.footer_utec{
	background-size:     contain;
	background-repeat:   no-repeat;
	background-position: center center;
	background-image:    url(./img/utec.svg);
	width: 108px;
  height: 76px;
}

.footer_udelar{
	background-size:     contain;
	background-repeat:   no-repeat;
	background-position: center center;
	background-image:    url(./img/udelar.svg);
	width: 145px;
  height: 49px;
}

.establecimientoMarker{
  width: 52px;
  height: 60px;
}

/*DETAILS*/

.add_to_fav_icon_detail{
	width: 140px;
  height: 37px;
  border-radius: 4px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.11);
  background-color: #ffffff;

font-size: 10px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
color: #000000;
position: absolute;
top: 107px;
right: 23px;
padding-top: 15px;
padding-left: 35px;
background-size:     17px 17px;
background-repeat:   no-repeat;
background-position: 10px 12px;
background-image:    url(./img/add_to_fav_icon_detail.svg);
z-index: 999999;
}

.modal_map_container{
 width: 100%;
 height: 20vh;
 position: absolute;
 top: 154px;
 left: 0;
}
.main-details {
	float: left;
	width: 100%;
	padding: 0 20px;
	margin-top: 92px;
}
.photo-wrapper {
	float: left;
	width: 100%;
}
.list-header {
	height: 60px;
	padding: 20px;
	color: rgb(255, 255, 255);
	background-color: #4a90e2;
	margin: 0;
}
.list-header.item.active {
	background-color: #4a90e2;
}
.section-main {
	width: calc(100% - 20px);
	float: left;
}
.arrow-icon {
	float: right;
	width: 20px;
	height: 20px;
}
.arrow-icon::before {
	background-color: #fff;
	width: 13px;
	height: 3px;
	position: relative;
	content: '';
	display: block;
	transition: all .2s ease-out;
	transform: rotate(45deg);
	border-radius: 2px;
	top: 8px;
}
.arrow-icon::after {
	background-color: #fff;
	width: 13px;
	height: 3px;
	position: relative;
	content: '';
	display: block;
	transition: all .2s ease-out;
	transform: rotate(-45deg);
	left: 7px;
	border-radius: 2px;
	top: 5px;
}
.arrow-icon.arrow-up::before {
	transform: rotate(135deg);
}
.arrow-icon.arrow-up::after {
	transform: rotate(45deg);
}
/*END DETAILS*/

/*FIN EDUCACION*/


.slider-pager{
	display: none;
}

input[type="text"]{
	border: 1px #000 solid;
}

body {
  height: 100%;
  width: 100%;
}

.scroll, .angular-leaflet-map {
  height: 100%;
}

.leaflet-bottom {
  bottom : 10px;
}
.item {
	width: 100%;
}
.item.item-body p {
  margin-top: 0;
}
.item-toggle {
	border: none;
	padding-right: 0;
	padding-left: 90px;
}
.filters-wrapper .item-toggle {
	width: 46px;
	float: left;
	padding: 21px 46px;
	margin-top: 2px;
}
.subsis.item {
	float: left;
	border: none;
	margin: 30px 0;
	width: 100%;
}
.item-toggle .toggle {
	left: 16px;
	cursor: pointer;
}
.toggle .track {
	width: 46px;
	height: 24px;
	background-color: #f4f2f2;
	border: none;
}
.toggle input:checked + .track {
	background-color: #eaf4ff;
	border: none;
}
.toggle .handle {
	width: 18px;
	height: 18px;
	background-color: #d5d5d5;
	box-shadow: none;
	position: relative;
	top: 3px;
	left: 3px;
}
.toggle input:checked + .track .handle {
	background-color: #4a90e2;
}
.section-center {
	max-width: 300px;
	margin: auto;
}

.tabs.border-top {
  border-top: 1px solid #ddd !important;
}

.intro-background{
    background-image:    url(./img/bg-intro.jpg);
    background-size:     contain;
    background-repeat:   no-repeat;
    background-position: center center;
}

.intro-logo{
  background-image:    url(./img/intro-logo.png);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  width: 215px;
  height: 177px;
  margin: 15% auto;
}

.intro-spinner{
  width: 50px;
  height: 50px;
  margin: 0 auto 0 auto;
  z-index: 99999;
}

.intro-background .intro-spinner{
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translateX(-50%); /*or  transform: translateX(-50%);*/
}

#spinner{
  position: absolute;
  top: 45%;
  left: 45%;
  z-index: 99999;
}

.modal-spinner{
  width: 130px;
  height: 110px;
  margin: 0 auto 0 auto;
  z-index: 99999;
  display: none;
}

#spinner-inside-modal{
  position: absolute;
  top: 30%;
  left: 30%;
  z-index: 99999;
  background-color: #000000;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 35px 35px 35px 35px;
  -moz-border-radius: 35px 35px 35px 35px;
  -webkit-border-radius: 35px 35px 35px 35px;
  border: 1px solid #FFFFFF;
}

#spinner-inside-modal h3{
  color: #FFFFFF;
  font-size: 12px;
  margin: 0;
  text-align: center;
  margin-bottom: 5px;
}

#spinner-inside-modal .spinner svg{
  width: 50px;
  height: 50px;
  stroke: #FFF;
  fill: #FFF;
  position: relative;
  left: 30%;
}

.spinner svg {
  width: 50px;
  height: 50px;
  stroke: #444;
  fill: #444;
}

.intro-icons{
  bottom: 7%;
  position: fixed;
  right: 0%;
  width: 100%;
  text-align: center;
  align-items: center;
}

.intro-icons a img {
  margin-left: 3px;
  margin-right: 3px;
}

.foot-bar{
  bottom: 0%;
  position: absolute;
  height: 105px;
  width: 100%;
}

.street-search-bar{
  background-color: #19222b;
  border-bottom: 1px #FFFFFF solid;
  width: 100%;
  height: 35px;
  padding-left: 6%;
  padding-right: 5%;
}

.search-icon{
  width: 30px;
  height: 35px;
  background-image:    url(./img/icon-search.png);
  background-repeat:   no-repeat;
  background-position: center center;
  float: left;
}

.search-textbox-label{
  background-color: transperent;
  width: 85%;
  float: left;
}

#search-textbox{
  background-color: transperent;
  width: 85%;
  float: left;
  font-size: 11px;
}

.options-bar{
  height: 105px;
  width: 100%;
  background-color: #1a2837;
  padding-left: 5%;
  padding-right: 5%;
}

.option-active{
  width: 48px;
  height: 70px;
  background-color: #f0384d;
  float: left;
}

.option-inactive{
  width: 48px;
  height: 70px;
  background-color: #1a2837;
  float: left;
}

.button-report{
  background-image:    url(./img/icon-reportar.png);
  background-repeat:   no-repeat;
  background-position: center center;
  width: 48px;
  height: 70px;
}

.button-list-reports{
  background-image:    url(./img/icon-reportes.png);
  background-repeat:   no-repeat;
  background-position: center center;
  width: 48px;
  height: 70px;
}

.button-faq{
  background-image:    url(./img/icon-ayuda.png);
  background-repeat:   no-repeat;
  background-position: center center;
  width: 48px;
  height: 70px;
}

.button-find-me{
  background-image:    url(./img/icon-findme.png);
  background-repeat:   no-repeat;
  background-position: center center;
  width: 48px;
  height: 70px;
}

.user-options{
  width: 75px;
  height: 75px;
  background-color: #1a2837;
  float: right;
  margin-top: 15px;
}

.user-picture{
  width: 75px;
  height: 75px;
  background-image:    url(./img/icon-user-anonymous.png);
  background-repeat:   no-repeat;
  background-position: center center;
  background-size: 75px 75px !important;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
}

.top-bar-imm{
  position: absolute;
  top: 0%;
  z-index: 9999;
  height: 30px;
  width: 100%;
}

.white-bar-imm{
  width: 100%;
  height: 15px;
  background-color: #FFFFFF;
}

.icon-imm-top{
  width: 25px;
  height: 30px;
  background-image:    url(./img/icon-imm-top-bar.png);
  background-repeat:   no-repeat;
  background-position: center center;
  float: right;
  margin-top: -15px;
  margin-right: 20px;
}

.leaflet-top .leaflet-control {
  margin-top: 40px;
}

.new-report-content {
  margin-top: 30px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  height: auto;
}

.new-report-slide {
  height: 100%;
}

.subcategory-hidden{
  display: none;
}

.subcategory-active{
  display: block;
  border: 0;
  color: #EEE;
  background: transparent;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 10px;
  width: 100%;
  -webkit-appearance: none;
}

.subcategory-active option {
    background: #2bac6d;
    color:#fff;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
}

.new-report-slide-controls{
  z-index: 11111;
  position: absolute;
  bottom: 20px;
  height: 50px;
  width: 100%;
}

.image_preview{
  width: 100px;
  height: 100px;
}

.new-report-scroll{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
}

.new-report-modal{
  background-color:rgba(0, 0, 0, 0.8);
}

.report-detail-scroll{
  height: 88%;
  width: 100%;
  position: absolute;
  top: 0%;
}

.report-detail-back{
  position: absolute;
  top: 88%;
  right: 6%;
}

.faq-scroll{
  height: 88%;
  width: 100%;
  position: absolute;
  top: 12%;
}

.faq-container{
  padding-left: 15px;
  padding-right: 15px;
}

#faq_content{
  margin-top: 20px;
  height: 80%;
}

#faq_back_to_top{
  position: absolute;
  bottom: 5%;
  right: 6%;
}

.category-header h3{
  color: #FFFFFF;
  font-size: 14pt;
}

.category-header p{
  color: #FFFFFF;
  font-size: 12pt;
  font-style: italic;
}

.text-input-header h3{
  color: #FFFFFF;
  font-size: 12pt;
  padding-left: 10px;
}

.category-select{
   border: 0;
   color: #EEE;
   background: transparent;
   font-size: 12px;
   font-weight: bold;
   padding: 2px 10px;
   width: 100%;
   -webkit-appearance: none;
}

.category-select option {
    background: #2bac6d;
    color:#fff;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
}

.category-select-container {
   overflow:hidden;
   width:100%;
   -moz-border-radius: 7px 7px 7px 7px;
   -webkit-border-radius: 7px 7px 7px 7px;
   border-radius: 7px 7px 7px 7px;
   background: #2bac6d url("./img/select_arrow.png") no-repeat scroll 96% center;
   border-color: #FFFFFF;
   border-width: 1px;
   border-style: solid;
}

.field-separator{
  height: 10px;
}

.text-input{
  background-color: transparent;
  color: #ffffff;
  width:100%;
}

.text-input-container{
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  width:100%;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
}

.foto-header h3{
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
}

.foto-footer h3{
  color: #FFFFFF;
  font-size: 12px;
  text-align: center;
}

.foto-input-container{
  border-color: #ffffff;
  border-width: 1px;
  border-style: dashed;
  width:100%;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
  height: auto;
}

.foto-icon{
  width: 36px;
  height: 27px;
  background: url("./img/file-from-camera.png") no-repeat center;
  float: left;
  position: relative;
}

.foto-icon-black{
  width: 36px;
  height: 27px;
  background: url("./img/icon-camera-black.png") no-repeat center;
  float: left;
  position: relative;
}

.foto-text{
  font-size: 10pt;
  float: right;
  position: relative;
  padding-left: 10px;
  padding-top: 5px;
  color: #FFFFFF;
  font-style: italic;
}

.foto-picker{
  margin: 7px auto;
  width: 80%;
}

.form-button{
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  width:100%;
  height: 35px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
  color: #FFFFFF;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
}

.form-button-big{
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  width:100%;
  height: 45px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
  color: #FFFFFF;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
}

.custom-html-modal-button{
  border-color: #1a2837;
  border-width: 2px;
  border-style: solid;
  height: 35px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
  color: #1a2837;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
}
button.full-width {
	margin: 42px 25%;
	width: 50%;
}
#user-options-menu{
  display: none;
  height: 160px;
  width: 200px;
  z-index: 99999;
  background-color:rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 105px;
  right: 0px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
}

#user-options-menu {
  color: #FFFFFF;
  padding-left: 10px;
  font-size: 16px;
}

#auth_options{
  margin-top: 10px;
}

.nonauth-link{
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
}

.user-logged-link{
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  height: 40px;
  font-size: 12pt;
}

#actual_photo{
  height: 100px;
  width: 100px;
  margin: 0 auto;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;
  background-size: 100% 100% !important;
}

#actual_photo_container h3{
  font-size: 14px;
  text-align: center;
  margin-bottom: 5px;
  color: #FFFFFF;
}

#actual_photo_container{
  text-align:center;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0%;
  left: 60%;
}

#error_container{
  display: none;
  width: 90%;
  height: auto;
}

#error_container h3{
  font-size: 14px;
  text-align: left;
  margin-bottom: 5px;
  color: red;
}

#error_container_inside{
  display: none;
  width: 90%;
  height: auto;
  margin-top: 10px;
}

#error_container_inside h3{
  font-size: 14px;
  text-align: left;
  margin-bottom: 5px;
  color: red;
}

.leaflet-control-attribution{
  display: none;
}

.report-photo{
  width: 75%;
  height: auto;
  margin: 0 auto 0 auto;
}

.report-link{
  font-size: 18px;
}

.leaflet-popup-content{
  font-size: 18px;
}

#map_crosshair{
  z-index: 99999999;
  width: 100px;
  height: 100px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image:    url(./img/crosshairs@x2.png);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  display: none;
}

#map_crosshair_button{
  z-index: 1000;
  width: 100%;
  margin: auto;
  position: absolute;
  left: 0;
  bottom: 105px;
  display: none;
}

#map_crosshair_button .custom-html-modal-button{
  background-color: #2bac6d;
  width: 100%;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.button-clear.button-clear{
  color: #000000;
}

.popup-sub-title{
  font-size: 14px;
  color: #FFFFFF;
  text-align: left;
}

.popup-title{
  font-weight: bold;
  color: #FFFFFF;
}

.popup-container .popup{
  background-color: rgba(0, 0, 0, 0.8)
}

.popup-body{
  font-size: 14px;
  color: #FFFFFF;
  text-align: left;
}

#comment_container input[type="checkbox"]{
  width: auto;
}

.report-detail-back .custom-html-modal-button{
  display: inline;
  margin-right: 15px;
}

#comment-button{
  display: none;
}

#comment_container .input-label{
    border: none;
    position: relative;
    float: left;
    font-size: 10pt;
}

#comment_container .item-checkbox{
    border: none;
    position: relative;
    float: left;
}

.add-ticket{
  margin-bottom: 25px;
}

/*.leaflet-marker-icon{
     border-radius: 50%;
}*/

/*.leaflet-popup-content p{
  margin: 10px 0; !important
}*/

/*.leaflet-popup-content p.lastupdate_inside_marker_popup, .leaflet-popup-content p.gender_inside_marker_popup, .leaflet-popup-content p.interested_inside_marker_popup{
  margin-top: -10px;
}*/


.message_icon_inside_marker_popup img{
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.chat_other_user_picture{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: relative;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  background-size: cover !important;
}

.chat_other_user_name{
  width: 150px;
  height: 75px;
  border-radius: 50%;
  position: relative;
  float: left;
  margin-left: 20px;
  margin-top: 40px;
  background-size: cover !important;
  font-size: 14pt;
  color: #fff;
}

.chat_top_bar{
  width: 100%;
  background-color: #065e52;
  height: 110px;
}

.private_chat_scroll.ionic-scroll{
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background-color: #dfdfdf;
}

.private_chat_scroll.ionic-scroll .scroll{
      height: calc(100% - 350px);
      background-color: #dfdfdf;
}

.chat_message_options{
  width: 100%;
  height: 140px;
  background-color: #ffffff;
  position: absolute;
  top: 510px;
}

.chat_message_textarea{
  width: 70%;
      height: 60%;
      border: 1px solid;
      border-radius: 10px;
      padding: 7px;
      font-size: 12pt;
      left: 5%;
      position: relative;
      top: 15%;
      float: left;
}

.send_message_button{
  width: 15%;
  height: 35%;
  margin: 5% auto 5% auto;
  border: 1px solid;
  border-radius: 10px;
  padding: 7px;
  left: 10%;
  position: relative;
  top: 10%;
  float: left;
  background-color: #065e52;
  font-size: 8pt;
  color: #fff;
  padding-top: 12px;
  padding-left: 12px;
}

.message{
  background-color: #fff;
  width: 90%;
  margin: 5% auto 5% auto;
  padding: 5px;
}

.close_message_modal{
    float: right;
    margin-top: 40px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    font-size: 25pt;
    color: white;
    text-align: center;
    padding: 2px;
}

.invitation{
  height: 150px;
  background-color: #fff;
  width: 90%;
  margin: 5% auto 5% auto;
  padding: 5px;
}

.invitation_button{
  width: 100px;
  height: 30px;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  float: right;
  margin-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}

.invitation_options{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 140px;
  background-color: #ffffff;
  padding: 15px;
}


.img_message_inside_invitation{
  width: 30px;
height: 30px;
margin-right: 10px;
margin-top: 10px;

}

.notification_item{
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
  margin-bottom: 10px;
  position: relative;
  height: 50px;
  border-radius: 15px;
}

.notification_item .text{
  font-size: 8pt;
  margin: 0;
}

.notification_item .date{
  color: grey;
  font-size: 8pt;
}

#notifications{
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 70%;
  height: 100px;
  overflow: auto;
  z-index: 99999;
  padding: 5px;
}

.notification_item .action{
  font-size: 10pt;
  color: blue;
  float: left;
  margin-right: 20px;
}

.notification_item .actions {
  float: right;
  margin-top: -30px;

}
/********************************************************************
***************             MEDIA QUERIES             ***************
********************************************************************/

@media (min-width: 680px){
  .modal {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
  }
  .ion-modal-view {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
  }
  .modal-wrapper{
    position: absolute;
	  top: 0;
	  left: 0;
	  display: block;
	  width: 100%;
	  height: 100%;
		/*overflow: auto;*/
  }

	.full .searchQueResults {
		margin: 0 calc(50% - 250px);
		width: 500px;
	}
}
@media (max-width: 1024px){
	.form{
		padding: 0 5%;
	}
}
@media (max-width: 680px){
  .footer_logos_wrapper {
    flex-direction: column;
  }
  .form{
    padding: 0;
		width: calc(100% - 80px);
		margin: 65px 40px;
  }
	.form.full {
		margin: 130px 0;
		width: 100%;
	}
	.error-content {
		width: 100%;
	}
	.main-details {
		margin-top: 0;
	}
	.logo {
    width: 50%;
    margin: 14px 25% 0;
	}
	#intro-message {
		margin: 40px 0;
	}
}
