/*EDUCACION*/

.intro_rombo_azul{
	width: 159.8px;
  height: 166.2px;
  object-fit: contain;
	background-image:    url(./img/intro_rombo_azul.svg);
	background-size:     100% 100%;
	background-repeat:   no-repeat;
	background-position: center center;
	position: absolute;
	left: 0;
	top: 0;
}

.intro_inside_rectangle{
	width: calc(100% - 46px);
  height: calc(100% - 210px);
  border-radius: 6px;
  box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
	position: absolute;
	left: 50%;
  transform: translateX(-50%); /*or  transform: translateX(-50%);*/
	top: 105px;
}

.intro_que_buscas{
	width: 230px;
	 height: 22px;
	 font-family: Nunito;
	 font-size: 21px;
	 font-weight: 300;
	 font-style: normal;
	 font-stretch: normal;
	 line-height: 1.05;
	 letter-spacing: normal;
	 text-align: center;
	 color: #322c3a;
	 position: absolute;
	 left: 50%;
	 transform: translateX(-50%); /*or  transform: translateX(-50%);*/
	 top: 103px;
}

.intro_informacion_sobre{
	position: absolute;
	left: 50%;
	transform: translateX(-50%); /*or  transform: translateX(-50%);*/
	top: 134px;
	width: 196px;
	height: 22px;
	font-family: Nunito;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.83;
	letter-spacing: 2px;
	text-align: center;
	color: #322c3a;
	text-transform: uppercase;
}

.intro_informacion_donde_button{
	 width: 253px;
   height: 58px;
   border-radius: 4px;
   background-color: #4a90e2;
	 font-family: Nunito;
		font-size: 16px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.25;
		letter-spacing: 0.5px;
		text-align: center;
		color: #ffffff;
		display: flex;
		justify-content: center; /* align horizontal */
		align-items: center;
		position: absolute;
		left: 50%;
		transform: translateX(-50%); /*or  transform: translateX(-50%);*/
		top: 180px;
}

.intro_informacion_centro_button{
	width: 253px;
	height: 58px;
	border-radius: 4px;
	background-color: #4acee2;
	font-family: Nunito;
	 font-size: 16px;
	 font-weight: normal;
	 font-style: normal;
	 font-stretch: normal;
	 line-height: 1.25;
	 letter-spacing: 0.5px;
	 text-align: center;
	 color: #ffffff;
	 display: flex;
	 justify-content: center; /* align horizontal */
	 align-items: center;
	 position: absolute;
	 left: 50%;
	 transform: translateX(-50%); /*or  transform: translateX(-50%);*/
	 top: 254px;
}

.intro_rombo_amarillo{
	width: 187px;
  height: 216px;
  object-fit: contain;
	position: absolute;
	bottom: 0;
	right: 0;
	background-image:    url(./img/intro_rombo_amarillo.svg);
background-size:     100% 100%;
background-repeat:   no-repeat;
background-position: center center;
}

.rombo_amarillo_chico{
	width: 84px;
  height: 128px;
	object-fit: contain;
	position: absolute;
	top: 0;
	left: 0;
	background-image:    url(./img/rombo_amarillo_chico.svg);
	background-size:     100% 100%;
	background-repeat:   no-repeat;
	background-position: center center;
}

/*Form step 1*/
.rombo_amarillo{
	width: 100.8px;
  height: 157.6px;
  object-fit: contain;
	background-image:    url(./img/rombo_amarillo.svg);
	background-size:     100% 100%;
	background-repeat:   no-repeat;
	background-position: center center;
	position: absolute;
	left: 0;
	top: 0;
}
.edad_title{
	width: 100px;
  height: 29px;
  font-family: Nunito;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
	position: absolute;
	left: 50%;
	transform: translateX(-50%); /*or  transform: translateX(-50%);*/
	top: 66px;
}
.edad_controls{
	width: 194px;
  height: 94.3px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%); /*or  transform: translateX(-50%);*/
	top: 113px;
}
.edad_menos{
	width: 40.4px;
  height: 40.4px;
  object-fit: contain;
 /*box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.11);
 border-radius: 7px;*/
 background-image:    url(./img/rombo_mas_menos.png);
 background-size:     100% 100%;
 background-repeat:   no-repeat;
 background-position: center center;
 position: absolute;
 left: 0px;
 top: 29px;
 font-family: Nunito;
font-size: 21px;
font-weight: bold;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: 0.7px;
text-align: center;
color: #ffffff;
display: flex;
justify-content: center; /* align horizontal */
align-items: center;
}
.edad_text{
	width: 90px;
  height: 94.3px;
  object-fit: contain;
	/*border-radius: 31px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.11);*/
 background-image:    url(./img/rombo_edad.svg);
 background-size:     100% 100%;
 background-repeat:   no-repeat;
 background-position: center center;
 position: absolute;
 left: 52px;
 top: 0px;
 font-family: Nunito;
 font-size: 27px;
 font-weight: bold;
 font-style: normal;
 font-stretch: normal;
 line-height: normal;
 letter-spacing: normal;
 text-align: center;
 color: #ffffff;
display: flex;
justify-content: center; /* align horizontal */
align-items: center;
}
.edad_mas{
	width: 40.4px;
  height: 40.4px;
  object-fit: contain;
 /*box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.11);
 border-radius: 7px;*/
 background-image:    url(./img/rombo_mas_menos.png);
 background-size:     100% 100%;
 background-repeat:   no-repeat;
 background-position: center center;
 position: absolute;
 right: 0px;
 top: 29px;
 font-family: Nunito;
font-size: 21px;
font-weight: bold;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: 0.7px;
text-align: center;
color: #ffffff;
display: flex;
justify-content: center; /* align horizontal */
align-items: center;
}
.ultimoNivelAprobado_title{
	width: 210px;
  height: 29px;
  font-family: Nunito;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
	position: absolute;
	left: 50%;
	transform: translateX(-50%); /*or  transform: translateX(-50%);*/
	top: 246px;
}
.ultimoNivelControls{
	width: 202px;
height: 70px;
position: absolute;
left: 50%;
transform: translateX(-50%); /*or  transform: translateX(-50%);*/
top: 300px;
background-image:    url(./img/linea_niveles.svg);
/*background-size:     100% 100%;*/
background-repeat:   no-repeat;
background-position: 20px 13px;
}
.nivel.hidden{
	background: transparent;
	color: transparent;

}
.nivel{
	width: 58px;
  height: 70px;
  object-fit: contain;
	background-image:    url(./img/nivel_.svg);
background-size:     40.4px 40.4px;
background-repeat:   no-repeat;
background-position: 9px 3px;
padding-top: 50px;
font-family: Nunito;
font-size: 14px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: 0.4px;
text-align: center;
color: #4acee2;
}
.nivel_primaria{
	position: absolute;
	left: 0%;
	top: 0;
}
.nivel_secundaria{
	position: absolute;
	left: 55px;
	top: 0;
	background-position: 15px 3px !important;
	width: 75px !important;
}
.nivel_terceario{
	position: absolute;
	left: 120px;
	top: 0;
}
.nivel_universitario{
	position: absolute;
	left: 155px;
	top: 0;
	background-position: 20px 3px !important;
	width: 85px !important;
}
.rombo_azul{
	width: 100%;
 height: calc(100% - 380px);
 max-height: 287px;
 background-image:    url(./img/rombo_azul.svg);
background-size:     cover;
background-repeat:   no-repeat;
position: absolute;
left: 0;
bottom: 0;
}
.ultimoAnioAprobado_title{
	width: 220px;
  height: 29px;
  font-family: Nunito;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
	position: absolute;
left: 50%;
transform: translateX(-50%); /*or  transform: translateX(-50%);*/
bottom: 150px;
}
.ultimoAnioAprobado_select{
	width: calc(100% - 100px);
  height: 30px;
  border-bottom: solid 1px #4a90e2;
	border-top: none;
	border-left: none;
	border-right: none;
	position: absolute;
left: 50%;
transform: translateX(-50%); /*or  transform: translateX(-50%);*/
bottom: 100px;
font-family: Nunito;
font-size: 15px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
text-align: center;
color: #4a90e2;
display: flex;
justify-content: center; /* align horizontal */
align-items: center;
background-color: transparent;
}
select {
	text-align-last: center;
}
.form_next_button{
	width: calc(100% - 80px);
  height: 58px;
  border-radius: 5px;
	border: none;
  background-color: #4acee2;
	position: absolute;
left: 50%;
transform: translateX(-50%); /*or  transform: translateX(-50%);*/
bottom: 20px;
font-family: Nunito;
font-size: 16px;
font-weight: bold;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: 2px;
text-align: center;
color: #ffffff;
display: flex;
justify-content: center; /* align horizontal */
align-items: center;
text-transform: uppercase;
}

.que.estudiar_title{
	top: 94px;
}

.donde.estudiar_title{
	top: 244px;
}

.turno.estudiar_title{
	top: 354px;
color: #122254;
}

.estudiar_title{
	width: 230px;
	height: 29px;
	font-family: Nunito;
   font-size: 20px;
   font-weight: 300;
   font-style: normal;
   font-stretch: normal;
   line-height: 1.45;
   letter-spacing: normal;
   text-align: center;
   color: #000000;
	position: absolute;
left: 50%;
transform: translateX(-50%); /*or  transform: translateX(-50%);*/
}

.que.estudiar_input{
	top: 130px;
}

.donde.estudiar_input{
	top: 285px;
}

.estudiar_input{
	width: 294.2px !important;
 height: 35px !important;
 border-bottom: solid 1px #4a90e2 !important;
 border-top: none !important;
 border-left: none !important;
 border-right: none !important;
 font-family: Nunito !important;
  font-size: 15px !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  text-align: center !important;
  color: #4a90e2 !important;
	position: absolute;
left: 50%;
transform: translateX(-50%); /*or  transform: translateX(-50%);*/
}

.turnos-wrapper{
	width: calc(100% - 60px);
 height: 117px;
	position: absolute;
left: 50%;
transform: translateX(-50%); /*or  transform: translateX(-50%);*/
top: 0;
}

.turnos{
	width: 90px;
  height: 117px;
  object-fit: contain;
	position: relative;
	margin-right: 19px;
	background-size:     90px 95px;
	background-repeat:   no-repeat;
	background-position: 0 0;
	font-family: Nunito;
   font-size: 12px;
   font-weight: 600;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: 0.3px;
   text-align: center;
   color: #122254;
}

.turno_matutino{
	background-image:    url(./img/matutino.svg);
}

.turno_matutino_off{
	background-image:    url(./img/matutino_off.svg);
	font-weight: normal;
	color: #bec1cb;
}

.turno_vespertino{
	background-image:    url(./img/vespertino.svg);
}

.turno_vespertino_off{
	background-image:    url(./img/vespertino_off.svg);
	font-weight: normal;
	color: #bec1cb;
}

.turno_nocturno{
	background-image:    url(./img/nocturno.svg);
}

.turno_nocturno_off{
	background-image:    url(./img/nocturno_off.svg);
	font-weight: normal;
	color: #bec1cb;
}

.rombo_amarillo_derecha{
	width: 40px;
   height: 269px;
   object-fit: contain;
	 position: absolute;
	 top:94px;
	 right: 0;
	 background-size:     contain;
 background-repeat:   no-repeat;
 background-position: center center;
 background-image:    url(./img/rombo_amarillo_derecha.svg);
}

.rombo_azul_chico{
	width: 57px;
  height: 161px;
  object-fit: contain;
	position: absolute;
bottom:0;
left: 0;
background-size:     contain;
background-repeat:   no-repeat;
background-position: center center;
background-image:    url(./img/rombo_azul_chico.svg);
}

.button_listado_completo{

}
/*End form*/

/*FIN EDUCACION*/


.slider-pager{
	display: none;
}

input[type="text"]{
	border: 1px #000 solid;
}

body {
  height: 100%;
  width: 100%;
}

.scroll, .angular-leaflet-map {
  height: 100%;
}

.leaflet-bottom {
  bottom : 10px;
}

.item.item-body p {
  margin-top: 0;
}

.tabs.border-top {
  border-top: 1px solid #ddd !important;
}

.intro-background{
    background-image:    url(./img/bg-intro.jpg);
    background-size:     contain;
    background-repeat:   no-repeat;
    background-position: center center;
}

.intro-logo{
  background-image:    url(./img/intro-logo.png);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  width: 215px;
  height: 177px;
  margin: 15% auto;
}

.intro-spinner{
  width: 50px;
  height: 50px;
  margin: 0 auto 0 auto;
  z-index: 99999;
}

.intro-background .intro-spinner{
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translateX(-50%); /*or  transform: translateX(-50%);*/
}

#spinner{
  position: absolute;
  top: 45%;
  left: 45%;
  z-index: 99999;
}

.modal-spinner{
  width: 130px;
  height: 110px;
  margin: 0 auto 0 auto;
  z-index: 99999;
  display: none;
}

#spinner-inside-modal{
  position: absolute;
  top: 30%;
  left: 30%;
  z-index: 99999;
  background-color: #000000;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 35px 35px 35px 35px;
  -moz-border-radius: 35px 35px 35px 35px;
  -webkit-border-radius: 35px 35px 35px 35px;
  border: 1px solid #FFFFFF;
}

#spinner-inside-modal h3{
  color: #FFFFFF;
  font-size: 12px;
  margin: 0;
  text-align: center;
  margin-bottom: 5px;
}

#spinner-inside-modal .spinner svg{
  width: 50px;
  height: 50px;
  stroke: #FFF;
  fill: #FFF;
  position: relative;
  left: 30%;
}

.spinner svg {
  width: 50px;
  height: 50px;
  stroke: #444;
  fill: #444;
}

.intro-icons{
  bottom: 7%;
  position: fixed;
  right: 0%;
  width: 100%;
  text-align: center;
  align-items: center;
}

.intro-icons a img {
  margin-left: 3px;
  margin-right: 3px;
}

.foot-bar{
  bottom: 0%;
  position: absolute;
  height: 105px;
  width: 100%;
}

.street-search-bar{
  background-color: #19222b;
  border-bottom: 1px #FFFFFF solid;
  width: 100%;
  height: 35px;
  padding-left: 6%;
  padding-right: 5%;
}

.search-icon{
  width: 30px;
  height: 35px;
  background-image:    url(./img/icon-search.png);
  background-repeat:   no-repeat;
  background-position: center center;
  float: left;
}

.search-textbox-label{
  background-color: transperent;
  width: 85%;
  float: left;
}

#search-textbox{
  background-color: transperent;
  width: 85%;
  float: left;
  font-size: 11px;
}

.options-bar{
  height: 105px;
  width: 100%;
  background-color: #1a2837;
  padding-left: 5%;
  padding-right: 5%;
}

.option-active{
  width: 48px;
  height: 70px;
  background-color: #f0384d;
  float: left;
}

.option-inactive{
  width: 48px;
  height: 70px;
  background-color: #1a2837;
  float: left;
}

.button-report{
  background-image:    url(./img/icon-reportar.png);
  background-repeat:   no-repeat;
  background-position: center center;
  width: 48px;
  height: 70px;
}

.button-list-reports{
  background-image:    url(./img/icon-reportes.png);
  background-repeat:   no-repeat;
  background-position: center center;
  width: 48px;
  height: 70px;
}

.button-faq{
  background-image:    url(./img/icon-ayuda.png);
  background-repeat:   no-repeat;
  background-position: center center;
  width: 48px;
  height: 70px;
}

.button-find-me{
  background-image:    url(./img/icon-findme.png);
  background-repeat:   no-repeat;
  background-position: center center;
  width: 48px;
  height: 70px;
}

.user-options{
  width: 75px;
  height: 75px;
  background-color: #1a2837;
  float: right;
  margin-top: 15px;
}

.user-picture{
  width: 75px;
  height: 75px;
  background-image:    url(./img/icon-user-anonymous.png);
  background-repeat:   no-repeat;
  background-position: center center;
  background-size: 75px 75px !important;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
}

#report-list-scroll{
  display: none;
  background-color: #e8eeec;
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 105px;
  top: auto;
  border-top-color: #adb9b8;
  border-top-style: solid;
  border-top-width: 2px;
}

#offline-report-list-scroll{
  background-color: #e8eeec;
  width: 100%;
  height: auto;
  max-height: 40%;
  min-height: 20%;
  position: absolute;
  bottom: 105px;
  top: auto;
  border-top-color: #adb9b8;
  border-top-style: solid;
  border-top-width: 2px;
}

#offline-report-list-scroll h3{
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: -10px;
}

#offline-report-list-scroll h3 a{
  font-size: 20px;
  color: #0078A8;
  text-align: center;
}

.report-in-list-actions a{
  font-size: 18px;
  margin-right: 15px;
  color: #0078A8;
}

.offline-pending{
  text-align: center;

}

#report-list{
  background-color: #e8eeec;
  height: 40%;
}

#report-list-offline{
  background-color: #e8eeec;
  height: 40%;
}

.list{
}

.report-list-header{
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom-color: #adb9b8;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.report-list-header h2{
  font-size:20px;
  font-weight: bold;
  color: #231f20;
}

.report-list-header p{
  text-align: justify;
  color: #231f20;
}

.report-inside-list{
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: auto;
  /*border-bottom-color: #adb9b8;
  border-bottom-style: solid;
  border-bottom-width: 1px;*/
  overflow:auto;
}

.report-inside-list-offline{
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: auto;
  /*border-bottom-color: #adb9b8;
  border-bottom-style: solid;
  border-bottom-width: 1px;*/
  overflow:auto;
}

.report-inside-list-active{
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: auto;
  border-bottom-color: #adb9b8;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  overflow:auto;
  background-color: #FFFFFF;
}

.report-in-list-icon{
  background-repeat:   no-repeat;
  background-position: center center;
  width: 20%;
  height: 60px;
  position: relative;
  float: left;
}

.report-in-list-icon-offline{
  background-repeat:   no-repeat;
  background-position: center center;
  width: 20%;
  height: 60px;
  position: relative;
  float: left;
}

.report-in-list-info {
    margin-left: 15px;
    width: 70%;
    position: relative;
    float: left;
    height: auto;
}

.report-in-list-title{
  font-size: 15px;
  text-transform: uppercase;
  color: #6f8383;
  margin-bottom: 0px;
}

.report-in-list-category{
  font-size: 13px;
  color: #000000;
  margin-bottom: 0px;
}

.report-in-list-date{
  font-size: 11px;
  color: #6f8383;
  margin-bottom: 15px;
  font-style: italic;
  float: left;
}

.report-in-list-actions{
  font-size: 11px;
  color: #6f8383;
  margin-bottom: 15px;
  margin-right: 10px;
  float: right;
}

.report-mini-icons{
  float: left;
  margin-left: 10px;
}

.report-mini-icon{
  width: auto;
  margin-left: 7px;
  float: left;
}

.top-bar-imm{
  position: absolute;
  top: 0%;
  z-index: 9999;
  height: 30px;
  width: 100%;
}

.white-bar-imm{
  width: 100%;
  height: 15px;
  background-color: #FFFFFF;
}

.icon-imm-top{
  width: 25px;
  height: 30px;
  background-image:    url(./img/icon-imm-top-bar.png);
  background-repeat:   no-repeat;
  background-position: center center;
  float: right;
  margin-top: -15px;
  margin-right: 20px;
}

.leaflet-top .leaflet-control {
  margin-top: 40px;
}

.new-report-content {
  margin-top: 30px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  height: auto;
}

.new-report-slide {
  height: 100%;
}

.subcategory-hidden{
  display: none;
}

.subcategory-active{
  display: block;
  border: 0;
  color: #EEE;
  background: transparent;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 10px;
  width: 100%;
  -webkit-appearance: none;
}

.subcategory-active option {
    background: #2bac6d;
    color:#fff;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
}

.new-report-slide-controls{
  z-index: 11111;
  position: absolute;
  bottom: 20px;
  height: 50px;
  width: 100%;
}

.image_preview{
  width: 100px;
  height: 100px;
}

.new-report-scroll{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
}

.new-report-modal{
  background-color:rgba(0, 0, 0, 0.8);
}

.report-detail-scroll{
  height: 88%;
  width: 100%;
  position: absolute;
  top: 0%;
}

.report-detail-back{
  position: absolute;
  top: 88%;
  right: 6%;
}

.faq-scroll{
  height: 88%;
  width: 100%;
  position: absolute;
  top: 12%;
}

.faq-container{
  padding-left: 15px;
  padding-right: 15px;
}

#faq_content{
  margin-top: 20px;
  height: 80%;
}

#faq_back_to_top{
  position: absolute;
  bottom: 5%;
  right: 6%;
}

.category-header h3{
  color: #FFFFFF;
  font-size: 14pt;
}

.category-header p{
  color: #FFFFFF;
  font-size: 12pt;
  font-style: italic;
}

.text-input-header h3{
  color: #FFFFFF;
  font-size: 12pt;
  padding-left: 10px;
}

.category-select{
   border: 0;
   color: #EEE;
   background: transparent;
   font-size: 12px;
   font-weight: bold;
   padding: 2px 10px;
   width: 100%;
   -webkit-appearance: none;
}

.category-select option {
    background: #2bac6d;
    color:#fff;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
}

.category-select-container {
   overflow:hidden;
   width:100%;
   -moz-border-radius: 7px 7px 7px 7px;
   -webkit-border-radius: 7px 7px 7px 7px;
   border-radius: 7px 7px 7px 7px;
   background: #2bac6d url("./img/select_arrow.png") no-repeat scroll 96% center;
   border-color: #FFFFFF;
   border-width: 1px;
   border-style: solid;
}

.field-separator{
  height: 10px;
}

.text-input{
  background-color: transparent;
  color: #ffffff;
  width:100%;
}

.text-input-container{
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  width:100%;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
}

.foto-header h3{
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
}

.foto-footer h3{
  color: #FFFFFF;
  font-size: 12px;
  text-align: center;
}

.foto-input-container{
  border-color: #ffffff;
  border-width: 1px;
  border-style: dashed;
  width:100%;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
  height: auto;
}

.foto-icon{
  width: 36px;
  height: 27px;
  background: url("./img/file-from-camera.png") no-repeat center;
  float: left;
  position: relative;
}

.foto-icon-black{
  width: 36px;
  height: 27px;
  background: url("./img/icon-camera-black.png") no-repeat center;
  float: left;
  position: relative;
}

.foto-text{
  font-size: 10pt;
  float: right;
  position: relative;
  padding-left: 10px;
  padding-top: 5px;
  color: #FFFFFF;
  font-style: italic;
}

.foto-picker{
  margin: 7px auto;
  width: 80%;
}

.form-button{
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  width:100%;
  height: 35px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
  color: #FFFFFF;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
}

.form-button-big{
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  width:100%;
  height: 45px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
  color: #FFFFFF;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
}

.custom-html-modal-button{
  border-color: #1a2837;
  border-width: 2px;
  border-style: solid;
  height: 35px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
  color: #1a2837;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
}

#user-options-menu{
  display: none;
  height: 160px;
  width: 200px;
  z-index: 99999;
  background-color:rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 105px;
  right: 0px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
}

#user-options-menu {
  color: #FFFFFF;
  padding-left: 10px;
  font-size: 16px;
}

#auth_options{
  margin-top: 10px;
}

.nonauth-link{
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
}

.user-logged-link{
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  height: 40px;
  font-size: 12pt;
}

#actual_photo{
  height: 100px;
  width: 100px;
  margin: 0 auto;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;
  background-size: 100% 100% !important;
}

#actual_photo_container h3{
  font-size: 14px;
  text-align: center;
  margin-bottom: 5px;
  color: #FFFFFF;
}

#actual_photo_container{
  text-align:center;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0%;
  left: 60%;
}

#error_container{
  display: none;
  width: 90%;
  height: auto;
}

#error_container h3{
  font-size: 14px;
  text-align: left;
  margin-bottom: 5px;
  color: red;
}

#error_container_inside{
  display: none;
  width: 90%;
  height: auto;
  margin-top: 10px;
}

#error_container_inside h3{
  font-size: 14px;
  text-align: left;
  margin-bottom: 5px;
  color: red;
}

.slider {
  height: 100%;
}

.leaflet-control-attribution{
  display: none;
}

.report-photo{
  width: 75%;
  height: auto;
  margin: 0 auto 0 auto;
}

.report-link{
  font-size: 18px;
}

.leaflet-popup-content{
  font-size: 18px;
}

#map_crosshair{
  z-index: 99999999;
  width: 100px;
  height: 100px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image:    url(./img/crosshairs@x2.png);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  display: none;
}

#map_crosshair_button{
  z-index: 1000;
  width: 100%;
  margin: auto;
  position: absolute;
  left: 0;
  bottom: 105px;
  display: none;
}

#map_crosshair_button .custom-html-modal-button{
  background-color: #2bac6d;
  width: 100%;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.button-clear.button-clear{
  color: #000000;
}

.popup-sub-title{
  font-size: 14px;
  color: #FFFFFF;
  text-align: left;
}

.popup-title{
  font-weight: bold;
  color: #FFFFFF;
}

.popup-container .popup{
  background-color: rgba(0, 0, 0, 0.8)
}

.popup-body{
  font-size: 14px;
  color: #FFFFFF;
  text-align: left;
}

#comment_container input[type="checkbox"]{
  width: auto;
}

.report-detail-back .custom-html-modal-button{
  display: inline;
  margin-right: 15px;
}

#comment-button{
  display: none;
}

#comment_container .input-label{
    border: none;
    position: relative;
    float: left;
    font-size: 10pt;
}

#comment_container .item-checkbox{
    border: none;
    position: relative;
    float: left;
}

.add-ticket{
  margin-bottom: 25px;
}

.leaflet-marker-icon{
     border-radius: 50%;
}

.img_inside_marker_popup{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name_inside_marker_popup p{
  text-align: center;
}

.lastupdate_inside_marker_popup{
  color: grey;
  font-size: 10pt;
  margin-top: -10px;
}

.leaflet-popup-content p{
  margin: 10px 0; !important
}

.leaflet-popup-content p.lastupdate_inside_marker_popup, .leaflet-popup-content p.gender_inside_marker_popup, .leaflet-popup-content p.interested_inside_marker_popup{
  margin-top: -10px;
}

.status_inside_marker_popup{
  color: black;
  font-size: 12pt;
}

.gender_inside_marker_popup{
  color: black;
  font-size: 12pt;
}

.interested_inside_marker_popup{
  color: green;
  font-size: 12pt;
  margin-top: -10px;
}

.userpicture_inside_modal{
  width: 150px;
  height: 150px;
  border-radius: 25px;
  background-size: cover !important;
}


.message_icon_inside_marker_popup img{
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.chat_other_user_picture{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: relative;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  background-size: cover !important;
}

.chat_other_user_name{
  width: 150px;
  height: 75px;
  border-radius: 50%;
  position: relative;
  float: left;
  margin-left: 20px;
  margin-top: 40px;
  background-size: cover !important;
  font-size: 14pt;
  color: #fff;
}

.chat_top_bar{
  width: 100%;
  background-color: #065e52;
  height: 110px;
}

.private_chat_scroll.ionic-scroll{
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background-color: #dfdfdf;
}

.private_chat_scroll.ionic-scroll .scroll{
      height: calc(100% - 350px);
      background-color: #dfdfdf;
}

.chat_message_options{
  width: 100%;
  height: 140px;
  background-color: #ffffff;
  position: absolute;
  top: 510px;
}

.chat_message_textarea{
  width: 70%;
      height: 60%;
      border: 1px solid;
      border-radius: 10px;
      padding: 7px;
      font-size: 12pt;
      left: 5%;
      position: relative;
      top: 15%;
      float: left;
}

.send_message_button{
  width: 15%;
  height: 35%;
  margin: 5% auto 5% auto;
  border: 1px solid;
  border-radius: 10px;
  padding: 7px;
  left: 10%;
  position: relative;
  top: 10%;
  float: left;
  background-color: #065e52;
  font-size: 8pt;
  color: #fff;
  padding-top: 12px;
  padding-left: 12px;
}

.message{
  background-color: #fff;
  width: 90%;
  margin: 5% auto 5% auto;
  padding: 5px;
}

.close_message_modal{
    float: right;
    margin-top: 40px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    font-size: 25pt;
    color: white;
    text-align: center;
    padding: 2px;
}

.invitation{
  height: 150px;
  background-color: #fff;
  width: 90%;
  margin: 5% auto 5% auto;
  padding: 5px;
}

.invitation_button{
  width: 100px;
  height: 30px;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  float: right;
  margin-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}

.invitation_options{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 140px;
  background-color: #ffffff;
  padding: 15px;
}



@media (min-width: 680px){
  .modal {
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
  }

  ion-modal-view {

          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 100%;

  }

  .modal-wrapper{
    position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  }
}


.img_message_inside_invitation{
  width: 30px;
height: 30px;
margin-right: 10px;
margin-top: 10px;

}

.notification_item{
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
  margin-bottom: 10px;
  position: relative;
  height: 50px;
  border-radius: 15px;
}

.notification_item .text{
  font-size: 8pt;
  margin: 0;
}

.notification_item .date{
  color: grey;
  font-size: 8pt;
}

#notifications{
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 70%;
  height: 100px;
  overflow: auto;
  z-index: 99999;
  padding: 5px;
}

.notification_item .action{
  font-size: 10pt;
  color: blue;
  float: left;
  margin-right: 20px;
}

.notification_item .actions {
  float: right;
  margin-top: -30px;

}
