body {
	font-family: Nunito;
}
h1 {
	font-size: 20px;
	text-align: center;
	margin: 28px 0;
	line-height: 1.45;
	font-family: Nunito;
}
h3 {
	font-family: Nunito;
}
img {
	width: 100%;
}
ion-nav-view {
	background-color: #000;
}
a {
	cursor: pointer;
}
button {
	margin-top: 32px;
	float: left;
	width: 100%;
	height: 58px;
	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
}
div {
	-webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
// TODO: Sacar intro en caso que no afecte otros
p {
	margin: 14px 0;
	float: left;
	width: 100%;
}
ion-content {
	float: left;
}
.title{
	margin-bottom: 12px;
	font-size: 20px;
	line-height: 1.45;
	text-align: center;
	color: #000000;
	width: 100%;
	float: left;
}
.scroll-view.scroll-y {
	/*height: 100%;*/
	overflow: hidden;
}
.info-message {
	float: left;
	background: url(/img/info.svg);
	background-repeat: no-repeat;
	background-position: left;
	background-position: 0 0;
	padding: 0 24px;
	text-align: justify;
	line-height: 1.46;
	font-size: 13px;
}
.info-page {
	margin-top: 20px;
}
.animate-down {
	-webkit-animation: bounceDown ease-in 1;
  animation: bounceDown ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 750ms;
  animation-duration: 750ms;
}
@keyframes bounceDown {
	0% {
    -webkit-transform: translate3d(0,-20%,0);
  }

  50% {
    -webkit-transform: translate3d(0,30%,0);
  }

  100% {
    -webkit-transform: translate3d(0,0,0);
  }
}
.slider-slide {
	height: auto;
}
.slider-slides {
	display: flex;
}
#loading {
	font-size: 18px;
	text-align: center;
}

.buscando img {
  display: block;
  margin: auto;
  width: 15%;
}

#loading-mini {
	float: left;
	width: 56px;
  height: 26px;
  margin-left: -56px;
	margin-top: 6px;
}
.buscando #loading {
	width: 100%;
}
.buscando #loading img{
	width: 20%;
	margin: 35vh 40% 30px;
}
.buscando #loading::after {
	content: 'Buscando';
}
.inside_rectangle.buscando {
	background-image: url(/img/buscando.svg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	font-size: 18px;
}
.centered {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.centered .curso_tag {
	margin: 0 4px;
}
#back_arrow{
	width: 19px;
  height: 19px;
  object-fit: contain;
	background-size:     contain;
	background-repeat:   no-repeat;
	background-position: center center;
	background-image:    url(/img/back_arrow.svg);
	position: absolute;
	top: 24px;
	left: 24px;
	z-index: 4;
}

.main.view-container {
	position: relative;
	float: left;
}
.modal {
	float: left;
	position: relative;
	display: flex;
}
.inside_rectangle{
	width: 84%;
  border-radius: 6px;
  box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
	position: relative;
	float: left;
	/*margin: 105px 8% 60px;*/
}

button.info {
	width: 62px;
	float: left;
	font-size: 10px;
	height: 18px;
	margin-top: 9px;
	margin-left: 12px;
}
.curso_tag_wrapper {
	position: relative;
	padding: 10px 12px 4px;
	width: 100%;
  float: left;
}

.curso_tag {
	//max-width: calc(50% - 8px);
	min-height: 18px;
  border-radius: 7px;
  background-color: #4a90e2;
	font-size: 9px;
	letter-spacing: 0.3px;
	text-align: center;
	color: #fff;
	display: inline-block;
  margin: 0 8px 4px 0;
	padding: 3px 14px;
	line-height: 1.25;
	height: initial;
	min-height: 29px;
	font-weight: normal;
	width: initial;
	border: none;
}
.curso_tag.tag-nivel {
	background-color: #4acee2;
}
.curso_tag.tag-subsis {
	 background-color: #ffdd6e;
	 color: #000;
}
#modal-page {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}
.modal-close {
	width: 23px;
  height: 23px;
  object-fit: contain;
	background-image:    url(/img/close.svg);
	background-size:     100% 100%;
	background-repeat:   no-repeat;
	background-position: center center;
	position: absolute;
	right: 44px;
	top: 64px;
	z-index: 11;
}
.inside_rectangle.full,
.inside_rectangle.modal-map {
	width: calc(100% - 40px);
	top: 42px;
	z-index: 10;
	padding: 64px 4%;
	/* TODO:  Revisar tamaño del mapa*/
	height: 608px;
	margin: 0 20px;
}
.inside_rectangle.full {
	height: calc(100% - 40px);
}
.full .searchQueResults {
	height: calc(100% - 60px);
	top: 30px;
	width: calc(100% - 40px);
  margin-left: 20px;
  margin-top: 0;
}
.results-wrapper {
	float: left;
	width: 100%;
	max-height: 34rem;
	overflow-y: auto;
}
.info-curso {
	height: 44px;
	width: 52%;
	margin: 24px 24% 0;
	font-size: 12px;
}
#error {
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: #c00005;
	z-index: 11;
	visibility: hidden;
	padding: 0px 8%;
}
.error-content {
	width: 100%;
	margin: 0 auto;
	padding: 19px 0 19px 38px;
	vertical-align: middle;
	font-size: 15px;
	color: #fff;
	color: #fff;
	background: url(/img/noun-warning.svg);
	background-repeat: no-repeat;
	background-position: left;
	float: left;
}
#error-content {
	width: calc(100% - 32px);
	float: left;
}
.error-close {
	width: 22px;
	height: 22px;
	float: right;
	background: url(/img/close.svg);
	background-repeat: no-repeat;
}

/* Estilos del menú */

.menu-icon {
  cursor: pointer;
  margin-left: auto;
  z-index: 6;
	position: absolute;
	right: 24px;
	top: 33px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	padding-top: 15px;
}

 .menu-icon .navicon {
	height: 2.4px;
	width: 23px;
	border-radius: 1.8px;
	background-color: #122254;
  display: block;
  position: relative;
  transition: background .2s ease-out;
}

 .menu-icon .navicon:before,
 .menu-icon .navicon:after {
	height: 2.4px;
 	border-radius: 1.8px;
 	background-color: #122254;
  content: '';
  display: block;
  position: absolute;
  transition: all .2s ease-out;
  width: 50%;
}

ion-header-bar {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.menu-icon .navicon:before {
  top: 4.9px;
}

 .menu-icon .navicon:after {
  top: -4.9px;
  left: 50%;
}

/* menu btn */

 .menu-btn {
  display: none;
}

 .menu-btn:checked ~ .menu {
  max-height: 240px;
}

 .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

 .menu-btn:checked ~ .menu-icon .navicon:before {
  background: white;
  transform: rotate(-45deg);
  width: 100%;
}

 .menu-btn:checked ~ .menu-icon .navicon:after {
  background: white;
  transform: rotate(45deg);
  width: 100%;
  left: 0;
}

 .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
 .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.menu-btn:checked ~ .navbar .navbar-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #4a90e2;
  position: absolute;
  z-index: 5;
  margin-left: 5%;
  min-height: 100vh;
	width: 95%;
}
.navbar-links {
	/*height: calc(90vh - 126px);*/
	margin: 63px 20%;
}
.navbar-items {
  display: flex;
  flex-direction: column;
	width: 80%;
	margin-left: 20%;
	margin-bottom: 30px;
}

.nav-item {
  width: 100%;
  font-size: 20px;
  padding: 10px 0;
	margin: 32px 0;
	float: left;
}

.nav-item a {
  color: white;
  text-decoration: none;
}

.nav-item a:hover,
.nav-item a.active {
	color: #ffdd6e;
}
.nav-item a.active::after {
	width: 58px;
	height: 1px;
	border: solid 1px #ffdd6e;
	position: relative;
	left: -14px;
	bottom: -14px;
	content: "";
	display: block;
}
.navbar {
  width: 100%;
}

.navbar-wrapper {
  display: none;
}

.navbar {
  position: absolute;
  flex-direction: column;
}
.navbar-right {
}
.nav-icon {
  float: left;
  position: relative;
  padding-right: 5%;
}
.icon-color {
  width: 32px;
  height: 32px;
  float: left;
}
.fa-facebook {
  background-image: url(/img/fb.svg), none;
}
.fa-instagram {
  background-image: url(/img/ic-instagram.svg), none;
}
.fa-linkedin {
  background-image: url(/img/ic-linkedin.svg), none;
}
.fa-twitter {
  background-image: url(/img/tw.svg), none;
}
.fa-youtube-play {
  background-image: url(/img/ic-youtube.svg), none;
}
.scroll-content {
	position: relative;
	width: 100%;
}
