.rombo_amarillo_derecha{
	width: 40px;
   height: 269px;
   object-fit: contain;
	 position: absolute;
	 top:94px;
	 right: 0;
	 background-size:     contain;
 background-repeat:   no-repeat;
 background-position: center center;
 background-image:    url(/img/rombo_amarillo_derecha.svg);
}

#edit_search_button{
 background-size:     16px 13px;
 background-repeat:   no-repeat;
 background-position: 10px 8px;
 background-image:    url(/img/icono_editar_busqueda.svg);
 padding-left: 27px;
 text-align: left;
}

#search_view_map_button{
 background-size:     14px 18px;
 background-repeat:   no-repeat;
 background-position: 10px 6px;
 background-image:    url(/img/icono_ver_mapa.svg);
 padding-left: 35px;
 text-align: left;
}

#search_view_list_button{
 background-size:     17px 9px;
 background-repeat:   no-repeat;
 background-position: 9px 11px;
 background-image:    url(/img/icono_ver_listado.svg);
 padding-left: 35px;
 text-align: left;
}

.button_listado_completo{
	width: 140px;
  height: 29px;
  border-radius: 5px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.11);
  background-color: #ffffff;
	font-size: 11px;
	text-align: center;
	color: #122254;
	padding: 7px 10px 7px 26px;
	float: left;
	margin: 10px calc(50% - 70px) 0;
  background-image: url(/img/listado-info.svg);
  background-repeat: no-repeat;
  background-size: 11px 8px;
  background-position: 8px 13px;
}
.editar-busqueda {
  width: 118px;
  margin: 10px calc(50% - 59px) 0;
  background-image: url(/img/lapicito.svg);
  background-size: 16px 13px;
  background-position: 8px 10px;
}
.searchQueResults{
	display: none;
	width: calc(100% + 40px);
	max-height: 50vh;
	position: relative;
	float: left;
	border-radius: 6px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
	background-color: #ffffff;
	z-index: 1;
	margin-left: -20px;
	margin-top: -30px;
	overflow-y: auto;
}
#queEstudieResults.searchQueResults {
	margin-top: 10px;
}
#queEstudieWrapper {
	margin-bottom: 36px;
  float: left;
  width: 100%;
}
#SearchDondeResults{
	display: none;
	width: 100%;
	height: 200px;
	float: left;
	margin-top: 10px;
	border-radius: 6px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
	background-color: #ffffff;
}

#searchResults_scroll{
	width: 100%;
  height: 100%;
}

#searchDondeResults_scroll{
	width: 100%;
  height: 200px;
	overflow-y: scroll;
}
.show-map {
	background-image: url(/img/mapa.svg);
	width: 40px;
	height: 40px;
	position: relative;
	left: calc(100% - 40px);
	background-size: cover;
	background-repeat: no-repeat;
	top: 40px;
}
/********** SEARCH CURSOS ****************/
.filters-wrapper .subsistema_title {
	height: 41px;
	font-size: 16px;
	letter-spacing: normal;
	padding: 10px 25px;
}
.filters-wrapper .subsistema_curso {
	padding: 0 10px;
}
.filter-option {
	padding: 14px 0;
	float: left;
	width: calc(100% - 90px);
}

.donde_container{
	width: 100%;
	border-bottom: solid 2px #efefef;
	margin: 0;
	position: relative;
	max-height: 50px;
}
.donde_title {
	padding: 13px;
}
.curso_title_wrapper {
	width: 100%;
	float: left;
}
.curso_nombre {
	float: left;
	padding-left: 14px;
	padding-top: 9px;
	max-width: calc(100% - 74px);
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #000000;
}
#full_search_str{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	float: left;
	width: 100%;
	text-align: center;
	padding-bottom: 7px;
	font-size: 13px;
	color: #122254;
}
.result-empty {
	padding: 10px 20px;
  float: left;
}
/* Search */
.curso.title {
	font-size: 16px;
	letter-spacing: 0.5px;
	margin-top: 42px;
	font-weight: bold;
  float: left;
}
h1.curso.title {
  width: auto;
  max-width: calc(100% - 74px);
  margin-top: 24px;
}
.plan .item-toggle {
	width: 50%;
	float: left;
	text-align: right;
}
.plan a {
	width: 50%;
	float: left;
	padding: 10px;
}
#previas {
	max-height: 50vh;
	overflow-y: auto;
}
.previas .curso.title {
	margin-top: 8px;
}
