// Colors
$black: #030303;
$gray: #737373;
$dark-blue: #4a90e2;
$bright-blue: #4acee2;
$light-blue: #EBF4FE;
$light-gray: #f4f4f4;
$brown-grey: #9b9b9b;

// padding from the edges of the screen
$spacing: 20px;
$spacingSmall: 10px;
